<header class="page-header">
    <h2>@SharedHtmlLocalizer["NotificationTemplates"]</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            
        </ol>
         
    </div>
</header>
<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["NotificationTemplates"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">  
                </div>
            </header>
            <div class="card-body ">
                <table class="table border-secondary align-middle mb-0 mobile-optimised datatable-default-" id="datatable-default-">
                    <thead>
                        <tr>
                            <th data-priority="10" class="">@SharedHtmlLocalizer["ID"]</th>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["TemplateType"]</th>
                            <th data-priority="2" class="">@SharedHtmlLocalizer["SMS_Message_En"]</th>
                            <th data-priority="3" class="">@SharedHtmlLocalizer["SMS_Message_Ar"]</th> 
                            @*<th data-priority="7" class="">Notification Message(En)</th>
                            <th data-priority="8" class="">Notification Message(Ar)</th>*@ 
                        <th data-priority="4" class="">@SharedHtmlLocalizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody class="border-secondary">
                        
                    </tbody>
                </table>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>
 
<!-- end: page -->
<script src="~/developer/js/NotificationTemplate/Template_Datatable.js" asp-append-version="true"></script>