@model Data.SystemUserManagement.SystemUser
@using Microsoft.AspNetCore.Localization
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = localizer.GetString(c.Name) })
                                                           .Where(i => i.Value != requestCultureFeature).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";


    var token = Convert.ToString(Context.Request.Cookies["AuthenticationToken"]);
    //bool loggedIn = false;
    //if (!string.IsNullOrEmpty(token))
    //{
    //    loggedIn = true;
    //}
}
<div class="logo-container">
    <a href="/home" class="logo">
        <img src="/assets/img/Logo.svg" height="35" alt="Adhari Water" />
    </a>

    <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
    </div>

</div>

<!-- start: search & user box -->
<div class="header-right">
    <span class="separator"></span>
    <div id="userbox" class="userbox">
        <a href="#" data-bs-toggle="dropdown">
            @*<figure class="profile-picture">
                <img src="/assets/img/!logged-user.jpg" alt="@Model.FullName" class="rounded-circle" data-lock-picture="/assets/img/!logged-user.jpg" />
            </figure>*@
            <div class="profile-info" data-lock-name="John Doe" data-lock-email="@Model.EmailAddress">
                <span class="name">@Model.FullName</span>
                <span class="role">@Model.Role.Name</span>
            </div>

            <i class="fa custom-caret"></i>
        </a>

        <div class="dropdown-menu">
            <ul class="list-unstyled mb-2">
                <li class="divider"></li>
                <li>
                    <a role="menuitem" tabindex="-1" href="/account/logout"><i class="bx bx-power-off"></i> Logout</a>
                </li>
                <li class="divider"></li>
                <li>
                    <form id="selectLanguage"
                          asp-controller="Culture"
                          asp-action="SetCulture"
                          asp-route-returnUrl="@returnUrl"
                          method="post"
                          role="form" class="form-mobile-language">
                        @foreach (var culture in cultureItems)
                        {
                            <input id="culture" name="culture" value="@culture.Value" type="hidden" />
                            <a href="#" class="nav-link px-2 link-dark language-switch" onclick="document.getElementById('selectLanguage').submit();" id="lang_switch">
                                <span class="title">@SharedHtmlLocalizer["LanguageText"]</span>
                            </a>
                        }
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end: search & user box -->
