@using Microsoft.AspNetCore.Mvc.Localization
@model Utility.Models.Frontend.Shop.SubscriptionCheckOutModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using Utility.Enum
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;

    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["Checkout"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("subscriptioncheckout"), Title = SharedHtmlLocalizer["SignIn"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("subscriptioncheckoutaddress"), Title = SharedHtmlLocalizer["Address"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["OrderDetails"].Value });
}
@await Html.PartialAsync("_PageHeading2", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <div class="customer-details mb-4">
                            <div class="d-flex justify-content-between flex-column align-items-start align-items-md-center mb-3">
                                <h4 class="text-primary text-start text-lg-center fw-bold mb-0">@SharedHtmlLocalizer["CustomerDetails"]</h4>
                            </div>
                            <div class="bg-grey row rounded-4 p-3 mx-0">
                                <div class="col-12 col-md-4">
                                    <label for="name" class="fw-bold">@SharedHtmlLocalizer["Name"]</label>
                                    <p class="text-primary mb-0">@Model.Customer.Name</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="email" class="fw-bold">@SharedHtmlLocalizer["Email"]</label>
                                    <p class="text-primary mb-0">@Model.Customer.EmailAddress</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="number" class="fw-bold">@SharedHtmlLocalizer["MobileNumber"]</label>
                                    @if (requestCultureFeature != "ar")
                                    {
                                        <p class="text-primary mb-0">@Model.Customer.FormattedMobile</p>
                                    }
                                    else
                                    {
                                        <p class="text-primary mb-0 text-start" dir="ltr">@Model.Customer.FormattedMobile</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="delivery-details mb-4">
                            <div class="d-flex justify-content-start justify-content-lg-center align-items-center mb-3">
                                <h4 class="text-primary text-start text-lg-center fw-bold mb-0">@SharedHtmlLocalizer["DeliveryDetails"]</h4>
                            </div>
                            <div class="bg-grey row rounded-4 p-3 mx-0 mb-3">
                                <div class="col-12 mb-3">
                                    <label for="name" class="fw-bold">@SharedHtmlLocalizer["DeliveryAddress"]</label>
                                    <p class="address-name card-text mb-0 fw-bold text-primary">@Model.AddressName</p>
                                    <p class="text-primary mb-0">
                                        @Model.AddressText
                                    </p>
                                </div>                                
                                <div class="col-12 text-center">
                                    <div class="order-notes">
                                        <div class="bg-grey rounded-4 mx-0">
                                            <a href="javascript:;" class="notes-field-btn text-secondary mb-0 fw-bold w-100 my-2">@SharedHtmlLocalizer["Notes"]</a>
                                            <textarea class="form-control rounded-4 border-secondary body-bg-secondary pb-0 address-field notes-field" id="txt-notes" rows="3" style="display: none;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <div class="promotion-code mb-4">
                            <div class="bg-grey rounded-4 p-3 text-center mx-0">
                                <a href="javascript:;" class="promotion-code text-secondary text-center mb-0 fw-bold w-100 my-2" onclick="showPromotionCodeField()">@SharedHtmlLocalizer["PromotionCode"]</a>
                                <div class="w-100 text-center">
                                    <div class="input-group promotion-input-field" style="">
                                        <button class="btn btn-outline-secondary rounded-end rounded-3 body-bg-secondary fw-bold fs-3 lh-1 CloseBtn" type="button" onclick="hidePromotionCodeField()">×</button>
                                        <input type="text" id="txt-coupon-code" class="form-control border-secondary body-bg-secondary PromoCodeValue"
                                               value="@Model.SubscriptionSummary.CouponCode" placeholder="@SharedHtmlLocalizer["EnterCode"]">
                                        <button id="btn-apply-coupon-code" class="btn btn-outline-secondary rounded-start rounded-3 body-bg-secondary fw-bold promotion-code-button" type="button">
                                            @(string.IsNullOrEmpty(Model.SubscriptionSummary.CouponCode)? @SharedHtmlLocalizer["Apply"] : @SharedHtmlLocalizer["Remove"])
                                        </button>
                                        <div class="valid-feedback">
                                            @SharedHtmlLocalizer["PromotionCodeApplied"]
                                        </div>
                                        <div class="invalid-feedback">
                                            @SharedHtmlLocalizer["PleaseEnterAValidPromotionCode"]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <div class="payment-method mb-4">
                            <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PaymentMethod"]</h4>
                            @if (Model.SubscriptionSummary.WalletBalanceAmount > 0)
                            {
                                <div class="inputGroup border-0 border-secondary rounded-4 body-bg-secondary d-flex justify-content-between align-items-center mb-3 py-3 px-0">
                                    <div class="d-flex ms-3">
                                        <input id="payment-method-wallet" class="form-check-input mt-0" type="checkbox"
                                               @Html.Raw(Model.SubscriptionSummary.WalletUsedAmount > 0 ? "checked" : "")>
                                        <div class="ms-3">
                                            <span>@SharedHtmlLocalizer["PayFromWallet"]</span>
                                            <strong class="ms-2">@Model.SubscriptionSummary.FormattedWalletBalanceAmount</strong>
                                        </div>
                                    </div>
                                    <label for="payment-method-wallet" class="me-1">
                                        <i class="fa-solid fa-wallet me-2 fs-4"></i>
                                    </label>
                                </div>
                            }
                            <div class="bg-grey rounded-4 p-3 mx-0" id="dv-payment-methods" style="display:@(Model.SubscriptionSummary.SkipPaymentMethodSelection?"none;":"block")">
                                @await Html.PartialAsync("_PaymentMethod", Model.PaymentMethods)
                            </div>
                            <div id="dvErrorPaymentMethod">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="your-order mb-4">
                    <div class="d-flex justify-content-between flex-column align-items-start align-items-md-center mb-3">
                        <h4 class="text-primary text-start text-lg-center fw-bold mb-0">@SharedHtmlLocalizer["OrderDetails"]</h4>
                    </div>
                    <div class="bg-grey rounded-4 p-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-secondary px-0 py-2">
                                <div class="d-flex flex-row bg-grey rounded-4 p-2">
                                    <img src="@Model.Product.ImageUrl" class="me-3 rounded-3" alt="@Model.Product.Title" height="75">
                                    <div class="d-flex flex-column me-auto w-100">
                                        <a href="subscription-details.html" class="mb-0 fw-bold">@Model.Product.Title</a>
                                        <ul class="ps-0 m-0 mb-2">
                                            @foreach (var item in Model.SubscriptionPackTitles)
                                            {
                                                <li class="d-flex justify-content-between mb-1">
                                                    <p class="col-10 col-lg-5 m-0">@item.Title</p>
                                                </li>
                                            }
                                        </ul>
                                        <div class="row g-0">
                                            <div class="col-6 col-md-3">
                                                <div class="w-auto py-1 me-2 mb-2">
                                                    <label class="text-muted" for="">@SharedHtmlLocalizer["Duration"]</label>
                                                    <p class="text-primary fw-bold fs-51 mb-0">@Model.Duration</p>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="w-auto py-1 me-2 mb-2">
                                                    <label class="text-muted" for="">@SharedHtmlLocalizer["DeliveryDate"]</label>
                                                    <p class="text-primary fw-bold fs-51 mb-0">@Model.DeliveryDate</p>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="w-auto py-1 me-2 mb-2">
                                                    <label class="text-muted" for="">@SharedHtmlLocalizer["Quantity"]</label>
                                                    <p class="text-primary fw-bold fs-51 mb-0">@Model.Quantity</p>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="w-auto py-1 me-2 mb-2">
                                                    <label class="text-muted" for="">@SharedHtmlLocalizer["MonthlyPrice"]</label>
                                                    <p class="text-primary fw-bold fs-51 mb-0">@Model.FormattedTotal</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush payment-summary">
                            @await Html.PartialAsync("_SubscriptionSummary", Model.SubscriptionSummary)
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check d-flex justify-content-center mx-auto text-start mb-3">
                    <input class="form-check-input mt-0 me-2" type="checkbox" id="gridCheck">
                    <label class="form-check-label d-block" for="gridCheck">
                        @SharedHtmlLocalizer["IAgreeToThe"]
                        <a id="a-privacy-policy" class="text-primary fw-bold" href="#">
                            @SharedHtmlLocalizer["PrivacyPolicy"]
                        </a> @SharedHtmlLocalizer["And"] <a id="a-terms" class="text-primary fw-bold" href="#">
                            @SharedHtmlLocalizer["TermsAndConditions"]
                        </a>
                    </label>
                </div>
                <div id="dvErrorhdnTerms" class="text-center mb-3">
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <a id="a-checkout" href="#" class="btn btn-primary color-white rounded-pill fw-bold px-5 continue-btn">@SharedHtmlLocalizer["PayNow"]</a>
        </div>
    </div>
</section>
<input type="hidden" id="hdn-applied-coupon-code" />
<input type="hidden" id="hdn-skip-payment-method-selection" />
<script>
    jQuery(document).ready(function () {
        $("#hdnCheckout").val("1");
        var appliedCouponCode = '@Model.SubscriptionSummary.CouponCode';
        if (appliedCouponCode == null || appliedCouponCode == "") {
            hidePromotionCodeField();
        }
        else {
            $('.promotion-input-field').show();
            applyCouponAddedClass();
        }

        $("#hdn-applied-coupon-code").val(appliedCouponCode);
        $("#hdn-skip-payment-method-selection").val("@Model.SubscriptionSummary.SkipPaymentMethodSelection" == "True" ? true : false);
        $('input[type=radio][name=payment-method-radio]').change(function () {
            $.post("@Url.RouteUrl("savesubscriptionattributes")", { PaymentMethodId: this.value, AttributeTypeId: @((int)AttributeType.SelectPaymentMethod) }, function (result) {
                if (result.success) {
                    $(".payment-summary").empty();
                    $(".payment-summary").append(result.data.formattedSubscriptionSummary);
                }
                else {
                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });

        $("#payment-method-wallet").change(function () {
            var attributeTypeId = 0;

            if ($(this).is(':checked')) {
                attributeTypeId = @((int)AttributeType.AddWalletAmount);
            } else {
                attributeTypeId = @((int)AttributeType.RemoveWalletAmount);
            }

            $.post("@Url.RouteUrl("savesubscriptionattributes")", { AttributeTypeId: attributeTypeId }, function (result) {
                if (result.success) {
                    $("#hdn-skip-payment-method-selection").val(result.data.skipPaymentMethodSelection == true ? true : false);
                    if (result.data.skipPaymentMethodSelection) {
                        $("#dv-payment-methods").hide();
                    }
                    else {
                        $("#dv-payment-methods").show();
                    }

                    $(".payment-summary").empty();
                    $(".payment-summary").append(result.data.formattedSubscriptionSummary);
                }
                else {
                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });

        $("#a-privacy-policy").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("getsitecontents", new { appContentType = (int)AppContentType.PrivacyPolicy })", function (result) {
                if (result.content != "") {
                    $("#common-model-popup-title").html("@SharedHtmlLocalizer["PrivacyPolicy"]");
                    $("#common-model-popup-description").html(result.content);
                    $('#common-model-popup').modal('show');
                }
            });
        });

        $("#a-terms").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("getsitecontents", new { appContentType = (int)AppContentType.TermsCondition })", function (result) {
                if (result.content != "") {
                    $("#common-model-popup-title").html("@SharedHtmlLocalizer["TermsAndConditions"]");
                    $("#common-model-popup-description").html(result.content);
                    $('#common-model-popup').modal('show');
                }
            });
        });

        $("#a-checkout").click(function () {
            var valid = true;
            var skipPaymentMethod = $("#hdn-skip-payment-method-selection").val();
            if (skipPaymentMethod == "false") {
                var paymentMethodId = $('input[name="payment-method-radio"]:checked').val();
                if (paymentMethodId == "" || paymentMethodId == null || paymentMethodId == undefined) {
                    valid = false;
                    $("#dvErrorPaymentMethod").html("<div class='invalid-feedback has-error' style='display:block !important;'><span>@SharedHtmlLocalizer["PleaseChoosePaymentMethod"]</span></div>");
                }
                else {
                    $("#dvErrorPaymentMethod").hide();
                }
            }

            if ($("#gridCheck").prop('checked') == false) {
                valid = false;
                $("#dvErrorhdnTerms").html("<div class='invalid-feedback has-error' style='display:block !important;'><span>@SharedHtmlLocalizer["PleaseCheckIAgreeToTheTermsAndConditions"]</span></div>");
            }
            else {
                $("#dvErrorhdnTerms").hide();
            }

            if (!valid) {
                return false;
            }

            showLoader();

            var notes = $("#txt-notes").val();
            $.post("@Url.RouteUrl("createsubscription")", {
                Notes: notes
            }, function (result) {
                if (result.success && result.data != null) {
                    if (result.data.redirectToPaymentPage) {
                        window.location.href = result.data.paymentUrl;
                    }
                    else {
                        window.location.href = "/SUB/" + result.data.entityNumber;
                    }
                }
                else {
                    hideLoader();

                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });

            return false;
        });
    });

    $('.promotion-code-button').click(function () {
        if (!$(".promotion-input-field").hasClass("promocode-applied")) {
            if ($(".PromoCodeValue").val()) {
                applyCouponCode();
            }
            else {
                $(".promotion-input-field .form-control").removeClass("is-valid");
                $(".promotion-input-field .form-control").addClass("is-invalid");
            }
        }
        else {
            applyCouponCode();
        }
    });

    function showPromotionCodeField() {
        $('.promotion-input-field').toggle();
    }

    function hidePromotionCodeField() {
        $('.promotion-input-field').hide();
    }

    function applyCouponCode() {
        var couponCode = $("#txt-coupon-code").val();
        var currentCouponCode = $("#hdn-applied-coupon-code").val();

        if (currentCouponCode == "") {
            if (couponCode == "") {
                ToastAlert('error', '', "@SharedHtmlLocalizer["Enter coupon code"]");
                return false;
            }
        }

        var attributeTypeId = 0;
        if (currentCouponCode != "") {
            attributeTypeId = @((int)AttributeType.RemoveCoupon);
        }
        else {
            attributeTypeId = @((int)AttributeType.ApplyCoupon);
        }

        $.post("@Url.RouteUrl("savesubscriptionattributes")", { CouponCode: couponCode, AttributeTypeId: attributeTypeId }, function (result) {
            if (result.success) {
                $("#hdn-skip-payment-method-selection").val(result.data.skipPaymentMethodSelection == true ? true : false);
                if (result.data.skipPaymentMethodSelection) {
                    $("#dv-payment-methods").hide();
                }
                else {
                    $("#dv-payment-methods").show();
                }

                $(".payment-summary").empty();
                $(".payment-summary").append(result.data.formattedSubscriptionSummary);

                currentCouponCode = result.data.couponCode;
                $("#hdn-applied-coupon-code").val(currentCouponCode);

                if (currentCouponCode != "" && currentCouponCode != null) {
                    applyCouponAddedClass();
                }
                else {
                    applyCouponRemovedClass();
                }
            }
            else {
                if (result.messageCode == 401) {
                    var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                    window.location.href = "/login?returnUrl=" + returnUrl;
                    return;
                }

                if (result.message != "")
                    ToastAlert('error', '', result.message);
            }
        });

        return false;
    }

    function applyCouponAddedClass() {
        $('.discount-value').show("fast");
        // Remove Invalid Class
        $(".promotion-input-field .form-control").removeClass("is-invalid");
        // Add Valid Class + Preparation for removal of cross button
        $(".promotion-input-field .form-control").addClass("is-valid rounded-end rounded-3");
        // Disabling Input field
        $(".promotion-input-field .form-control").prop("disabled", true);
        // Removal of cross button
        $(".CloseBtn").hide();
        // Changing Apply button HTML to Remove
        $(".promotion-code-button").html("@SharedHtmlLocalizer["Remove"]");
        // Changing Classes to change look
        $(".promotion-code-button").toggleClass("btn-outline-secondary btn-outline-danger");
        // Updating Overall Status
        $(".promotion-input-field").addClass("promocode-applied");
    }

    function applyCouponRemovedClass() {
        $(".promotion-code-button").html("@SharedHtmlLocalizer["Apply"]");
        $(".promotion-code-button").toggleClass("btn-outline-secondary btn-outline-danger");
        $(".promotion-input-field .form-control").prop("disabled", false);
        $(".promotion-input-field .form-control").removeClass("is-valid rounded-end rounded-3");
        $('.discount-value').hide("fast");
        $(".CloseBtn").show();
        $(".promotion-input-field").removeClass("promocode-applied");
        $("#txt-coupon-code").val('');
    }

    $(".notes-field-btn").click(function () {
        $(".notes-field").toggle();
    });
</script>