@model IList<Utility.Models.Frontend.CustomerManagement.AddressModel>
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["Checkout"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("subscriptioncheckout"), Title = SharedHtmlLocalizer["SignIn"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["Address"].Value });
    int selectedAddressId = 0;
    var selectedAddress = Model.Where(a => a.Selected).FirstOrDefault();
    if (selectedAddress != null)
    {
        selectedAddressId = selectedAddress.Id;
    }
}
@await Html.PartialAsync("_PageHeading2", breadCrumbItems)
<input type="hidden" id="hdnAddressId" value="0" />
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 mx-auto">
                <div class="delivery-address mb-4">
                    <h4 class="text-primary text-center fw-bold mb-3">@SharedHtmlLocalizer["DeliveryAddress"]</h4>
                    @if (Model.Count > 0)
                    {
                        <div id="dv-addresses" class="row justify-content-center addresses">
                            @foreach (var item in Model)
                            {
                                <div class="col-12 col-md-4 mb-3">
                                    <div class="inputGroup h-100 border border-secondary rounded-3 body-bg-secondary d-flex justify-content-between align-items-center p-3 @(item.Selected?"active":"")">
                                        <label for="address-@item.Id" class="w-100">
                                            <p class="address-name card-text mb-0 fw-bold">@item.Name</p>
                                            <p class="address-content card-text mb-0">
                                                @item.AddressText<br>
                                            </p>
                                        </label>
                                        <input class="d-none" id="address-@item.Id" data-addressId="@item.Id" name="address" type="radio" @Html.Raw(item.Selected ? "checked" : "")>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal fade" id="addNewAddressModal" tabindex="-1" aria-labelledby="addNewAddressModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="addNewAddressModalTitle">@SharedHtmlLocalizer["AddNewAddress"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @await Html.PartialAsync("_AddNewAddress")
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary text-light rounded-pill" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
                                        <button type="button" id="btn-save-address" class="btn btn-primary rounded-pill">@SharedHtmlLocalizer["SaveAddress"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @await Html.PartialAsync("_AddNewAddress")
                    }
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3 order-2 order-md-1">
                            <a href="#" id="a-address-popup" class="btn btn-secondary text-light rounded-pill w-100" data-bs-toggle="modal" data-bs-target="#addNewAddressModal">@SharedHtmlLocalizer["AddNewAddress"]</a>
                        </div>
                        <div class="col-12 col-md-6 mb-3 order-1 order-md-2">
                            @if (Model.Count > 0)
                            {
                                <a href="javascript:;" id="btn-continue" class="btn btn-primary color-white rounded-pill fw-bold px-5 continue-btn disabled w-100">
                                    @SharedHtmlLocalizer["Continue"]
                                </a>
                            }
                            else
                            {
                                <a href="javascript:;" id="btn-continue-with-add" class="btn btn-primary color-white rounded-pill fw-bold px-5 continue-btn w-100">
                                    @SharedHtmlLocalizer["Continue"]
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".inputGroup.active").find("input").click();
        $("#hdnAddressId").val(@selectedAddressId);
        if (@selectedAddressId> 0) {
            $('.continue-btn').removeClass('disabled');
        }

        $(document).on("change","input[type=radio][name=address]",function () {
            $(this).closest('.addresses').find('.inputGroup').removeClass('active');
            $(this).closest('.inputGroup').addClass('active');
            $('.continue-btn').removeClass('disabled');
            var addressId = $(this).attr("data-addressId");
            $("#hdnAddressId").val(addressId);
        });

        $("#btn-continue").click(function () {
            var selectedAddressId = $("#hdnAddressId").val();
            saveSubscriptionAttributes(selectedAddressId);
        });

        $("#btn-continue-with-add").click(function () {
            addAddress(true);
        });

        $("#a-address-popup").click(function () {
            let myModal = new bootstrap.Modal(document.getElementById('addNewAddressModal'), {});
            myModal.show();
        });

        $("#btn-save-address").click(function () {
            addAddress(false);
            return false;
        });
    });

    function addAddress(continueWithAdd) {
        $("#frm-address").validate();
        if ($("#frm-address").valid()) {
            $.post("@Url.RouteUrl("addaddress")", {
                TypeId: $("#hdnAddressTypeId").val(),
                Name: $("#AddressName").val(),
                GovernorateId: $("#Governorate").val(),
                AreaId: $("#Area").val(),
                Block: $("#Block").val(),
                Street: $("#Street").val(),
                Avenue: $("#Avenue").val(),
                HouseNumber: $("#HouseNo").val(),
                BuildingNumber: $("#BuildingNo").val(),
                FloorNumber: $("#FloorNo").val(),
                FlatNumber: $("#FlatNo").val(),
                SchoolName: $("#SchoolName").val(),
                MosqueName: $("#MosqueName").val(),
                GovernmentEntity: $("#GovernmentEntity").val(),
                Notes: $("#Notes").val()
            }, function (result) {
                if (result.success && result.data != null) {
                    $("#AddressName").val('');
                    $("#Governorate").val('');
                    $("#Area").empty().append("<option value=''>@SharedHtmlLocalizer["Select"]</option>");
                    $(".address-field").val('');

                    if (continueWithAdd) {
                        saveSubscriptionAttributes(result.data.id);
                    }
                    else {
                        $('#addNewAddressModal').modal('hide');

                        $("#dv-addresses").prepend("<div class='col-12 col-md-4 mb-3'>" +
                            "<div class='inputGroup h-100 border border-secondary rounded-3 body-bg-secondary d-flex justify-content-between align-items-center p-3 active'>" +
                            "<label for='address-" + result.data.id + "' class='w-100'>" +
                            "<p class='address-name card-text mb-0 fw-bold'>" + result.data.name + "</p>" +
                            "<p class='address-content card-text mb-0'>" + result.data.addressText + "<br></p></label>" +
                            "<input class='d-none' id='address-" + result.data.id + "' data-addressId='" + result.data.id + "' name='address' type='radio' 'checked'>" +
                            "</div>" +
                            "</div>");

                        $("#hdnAddressId").val(result.data.id);
                        $('.continue-btn').removeClass('disabled');
                    }
                }
                else {
                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        }
    }

    function saveSubscriptionAttributes(addressId) {
        if (addressId == 0) {
            return false;
        }

        $.post("@Url.RouteUrl("savesubscriptionattributes")", { AddressId: addressId, AttributeTypeId: @((int)AttributeType.SelectAddress) }, function (result) {
            if (result.success) {
                window.location = "@Url.RouteUrl("subscriptioncheckoutsummary")";
            }
            else {
                if (result.message != "")
                    ToastAlert('error', '', result.message);
            }
        });
    }
</script>