@model Utility.Models.Frontend.ProductManagement.ProductModel
@{
    var productUrl = Url.RouteUrl("productdetails", new { catName = Model.Category.SeoName, seoName = Model.SeoName });
}
<li class="list-group-item">
    <a href="@productUrl" class="d-flex flex-row py-2">
        <img src="@Model.ImageUrl" class="me-3" alt="@Model.Title" height="75">
        <div class="">
            <p class="mb-0">@Model.Title</p>
            @if (Model.DiscountedPrice > 0)
            {
                <h6 class="fw-bold mb-0 color-secondary">@Model.FormattedDiscountedPrice</h6>
            }
            else
            {

                <h6 class="fw-bold mb-0 color-secondary">@Model.FormattedPrice</h6>
            }
        </div>
    </a>
</li>