@model Utility.Models.Frontend.Shop.CartModel
<div class="offcanvas-header border-bottom">
    <h5 id="offcanvasCartLabel" class="mb-0">@SharedHtmlLocalizer["Cart"]</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="@SharedHtmlLocalizer["Close"]"></button>
</div>
<div class="offcanvas-body p-0">
    <ul class="cart-list list-group list-group-flush">
        @foreach (var CartItem in Model.CartItems)
        {
            <li class="list-group-item px-1 py-2 cart-item">
                <div class="d-flex bg-grey rounded-4 flex-row p-2">
                    <img src="@CartItem.Product.ImageUrl" class="me-3 rounded-3" alt="@CartItem.Product.Title" height="75">
                    <div class="d-flex flex-column me-auto">
                        <p class="mb-0 text-muted fw-bold">@CartItem.Product.Title</p>
                        <div class="btn-with-input-spinner w-50">
                            <input type="number" value="1" min="0" max="50" step="1" class="input-spinner text-white bg-secondary fs-5 border-0" style="display: none;">
                            <div class="input-group rounded-5 side-cart-spinner" style="">
                                <button style="min-width: 2.5rem" class="btn btn-decrement btn-secondary text-white fw-bold fs-5 rounded-5 rounded-end btn-minus-side-cart" type="button">
                                    <strong>−</strong>
                                </button>
                                <input type="text" inputmode="decimal" style="text-align: center" class="form-control input-spinner text-white bg-secondary fs-5 border-0"
                                       value="@CartItem.Quantity" data-cartid="@CartItem.Id" data-maxquantity="@CartItem.Product.StockQuantity" disabled>
                                <button style="min-width: 2.5rem" class="btn btn-increment btn-secondary text-white fw-bold fs-5 rounded-5 rounded-start btn-plus-side-cart" type="button">
                                    <strong>+</strong>
                                </button>
                            </div>
                        </div>
                        <!-- <label class="mt-2 mb-0">Unit Price:</label> -->
                        @if (CartItem.Product.DiscountedPrice > 0)
                        {
                            <h6 class="fw-bold mb-0 text-muted my-2">@SharedHtmlLocalizer["UnitPrice"]: <span class="text-primary">@CartItem.Product.DiscountedPrice</span></h6>
                        }
                        else
                        {
                            <h6 class="fw-bold mb-0 text-muted my-2">@SharedHtmlLocalizer["UnitPrice"]: <span class="text-primary">@CartItem.Product.Price</span></h6>
                        }
                    </div>
                    <div class="d-flex flex-column align-items-start">
                        <a href="#" onclick="return deletecartitem(@CartItem.Id)"><i class="fa fa-trash color-danger font-24 mb-3"></i></a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="offcanvas-footer border-top p-3 text-center">
    <p class="text-uppercase text-primary mb-2">@SharedHtmlLocalizer["GrandTotal"]</p>
    <h5 class="text-uppercase fw-bold mb-3">@Model.FormattedSubTotal</h5>
    <div class="d-flex flex-row">
        <a href="@Url.RouteUrl("checkout")" class="btn btn-primary rounded-pill text-white fw-bold w-100">@SharedHtmlLocalizer["Checkout"]</a>
        @*<a href="#" onclick="return deletecartitems();" class="btn btn-outline-primary text-primary w-100 ms-1">@SharedHtmlLocalizer["ClearCart"]</a>*@
    </div>
    <div class="d-grid gap-2 mt-3">
        <a href="#" id="a-side-cart-continue" class="btn btn-outline-primary rounded-pill fw-bold w-100">@SharedHtmlLocalizer["ContinueShopping"]</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".btn-plus-side-cart").click(function () {
            var quantity = $(this).closest(".side-cart-spinner").find("input").val();
            var finalQuantity = parseInt(quantity) + 1;

            var maxQuantity = $(this).closest(".side-cart-spinner").find("input").attr("data-maxquantity");
            if (finalQuantity > maxQuantity) {
                return;
            }

            $(this).closest(".side-cart-spinner").find("input").val(finalQuantity);
            var cartId = $(this).closest(".side-cart-spinner").find("input").attr("data-cartid");
            editcartitem(cartId, finalQuantity);
        });

        $(".btn-minus-side-cart").click(function () {
            var quantity = $(this).closest(".side-cart-spinner").find("input").val();
            var finalQuantity = parseInt(quantity) - 1;
            //if (finalQuantity == 0)
            //    return;

            $(this).closest(".side-cart-spinner").find("input").val(finalQuantity);
            var cartId = $(this).closest(".side-cart-spinner").find("input").attr("data-cartid");
            editcartitem(cartId, finalQuantity);
        });

        $("#a-side-cart-continue").click(function () {
            window.location.href = "@Url.RouteUrl("home")";
        });
    });

    function editcartitem(cartId, quantity) {
        $.post("@Url.RouteUrl("editcartitem")", { id: cartId, quantity: quantity }, function (result) {
            if (result.cartContents != "") {
                updateCartCount();
                $("#offcanvasCart").empty();
                $("#offcanvasCart").append(result.cartContents);
            }
        });

        return false;
    }

    function deletecartitem(id) {
        var url = "@Url.RouteUrl("deletecartitem",new { id = "_id" })";
        url = url.replace("_id", id);
        $.get(url, function (result) {
            if (result.success) {
                updateCartCount();

                $("#offcanvasCart").empty();
                $("#offcanvasCart").append(result.cartContents);

                var cartItems = $(".cart-item");
                if (cartItems.length == 0) {
                    $('#offcanvasCart').offcanvas('hide');
                }
            }
            else {
                if (result.message != "")
                    showToastErrorMessage(result.message);
            }
        });

        return false;
    }

    function deletecartitems() {
        $.get("@Url.RouteUrl("deletecartitems")", function (result) {
            if (result.success) {
                updateCartCount();
                $('#offcanvasCart').offcanvas('hide');
            }
            else {
                if (result.message != "")
                    showToastErrorMessage(result.message);
            }
        });

        return false;
    }
</script>