@model Utility.Models.Frontend.Sales.SubscriptionAdminModel

<header class="page-header">
    <h2>@SharedHtmlLocalizer["SubscriptionDetails"]</h2>
    <input type="hidden" id="subscriptionId" value="@Model.Id" />
    <input type="hidden" id="customerId" value="@Model.CustomerId" />
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="row">

    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["CustomerDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="">@SharedHtmlLocalizer["CustomerName"]</label>
                        <div class="fw-bold">@Model.Customer.Name</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="">@SharedHtmlLocalizer["CustomerEmail"]</label>
                        <div class="fw-bold">@Model.Customer.EmailAddress</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="">@SharedHtmlLocalizer["CustomerMobile"]</label>
                        <div class="fw-bold">@Model.Customer.FormattedMobile</div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["SubscriptionDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    

                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["SubscriptionImage"]</label>
                        <div><img src="@Model.Product.ImageUrl" class="img-fluid" width="100px"></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["SubscriptionID"]</label>
                        <div class="fw-bold">@Model.Id</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["SubscriptionName"]</label>
                        <div class="fw-bold">@Model.SubscriptionTitle</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["MonthlyPrice"]</label>
                        <div class="fw-bold">@Model.FormattedMonthlyAmount</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Contents"]</label>
                        <div>
                            <ul class="body-bg-secondary border border-secondary rounded-3 text-muted p-2 m-0">
                                
                                @foreach (var item in Model.SubscriptionPackTitles)
                                {
                                    <li class='d-flex justify-content-between mb-1'>
                                        <p class='m-0'><a href='#'>@item.Title</a></p> <span>@item.Value</span>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Duration"]</label>
                        <div class="fw-bold">@Model.Duration</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["DeliveryDate"]</label>
                        <div class="fw-bold">@Model.DeliveryDate</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Quantity"]</label>
                        <div class="fw-bold">@Model.Quantity</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["DeliveryDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["AddressName"]</label>
                        <div class="fw-bold">@Model.Address.Name</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Governorate"]</label>
                        <div class="fw-bold">@Model.Address.GovernorateName</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Area"]</label>
                        <div class="fw-bold">@Model.Address.AreaName</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Block"]</label>
                        <div class="fw-bold">@Model.Address.Block</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Street"]</label>
                        <div class="fw-bold">@Model.Address.Street</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Avenue"]</label>
                        <div class="fw-bold">@Model.Address.Avenue</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="">@SharedHtmlLocalizer["Notes"]</label>
                        <div class="fw-bold">@Model.Address.Notes</div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["OrderSummary"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["Subtotal"]</label>
                        <div class="fw-bold">@Model.FormattedSubTotal</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["PromotionCodeUse"]</label>
                        <div class="fw-bold">@Model.CouponCode</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["DiscountAmount"]</label>
                        <div class="fw-bold">- @Model.FormattedCouponDiscountAmount</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="">@SharedHtmlLocalizer["GrandTotal"]</label>
                        <div class="fw-bold">@Model.FormattedTotal</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["PaymentHistory"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-12">
                        <!-- ========== Start Table Block ========== -->
                        <table class="table border-secondary align-middle mobile-optimised datatable-default-" id="datatable-default-">
                            <thead>
                                <tr>
                                    <th data-priority="10" class="">@SharedHtmlLocalizer["ID"]</th>
                                    <th data-priority="1" class="">@SharedHtmlLocalizer["TransactionDateAndTime"]</th>
                                    <th data-priority="2" class="text-start">@SharedHtmlLocalizer["PaymentMethod"]</th>
                                    <th data-priority="3" class="">@SharedHtmlLocalizer["PaymentResult"]</th>
                                    <th data-priority="3" class="">@SharedHtmlLocalizer["PaymentID"]</th>
                                    <th data-priority="3" class="">@SharedHtmlLocalizer["PaymentReference"]</th>
                                    <th data-priority="4" class="">@SharedHtmlLocalizer["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody class="border-secondary">
                                @foreach(var payment in Model.SubscriptionOrders) {   
                                <tr class="">
                                    <td class="" data-th="No.">@payment.PaymentId</td>
                                    <td class="" data-th="Transaction Date &amp; Time">@payment.FormattedDate</td>
                                    <td class="" data-th="Payment Method"><span class="px-2 rounded-pill fw-bold bg-info text-light">@payment.PaymentMethodName</span></td>
                                    <td class="" data-th="Payment Result"><span class="px-2 rounded-pill fw-bold bg-success text-light">@payment.PaymentStatusName</span></td>
                                    <td class="" data-th="Payment ID">@payment.PaymentRefId</td>
                                    <td class="" data-th="Payment Reference">@payment.PaymentRefId</td>
                                    <td class="text-start">
                                        <a href="javascript:;" data-customerId="@Model.Customer.Id" data-subscriptionId="@Model.Id"  class="mb-1 mt-1 me-1 btn btn-sm btn-info print-page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Print Invoice" data-bs-original-title="Print Invoice" aria-label="@SharedHtmlLocalizer["PrintInvoice"]"><i class="fas fa-print"></i></a>
                                    </td>
                                </tr>
                                }
                                  
                            </tbody>
                        </table>

                        <!-- ========== End Table Block ========== -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>


<script>
    $('.print-page').click(function (event) {
        event.preventDefault();
        ajaxGet('subscription/GetPDF?customerId=' + $(this).data("customerid") + "&subscriptionId=" + $(this).data("subscriptionid") , cbGetPDFSuccess);
        //var newWindow = window.open("order-print.html", "popupWindow", "width=600,height=600,scrollbars=yes");
    });
     
    cbGetPDFSuccess = (data) => {
        window.open(data.data, "subscriptionPDF");
    }
</script> 
