@model List<Data.SystemUserManagement.SystemUserPermission>
<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            @*Navigation*@
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-fire-event="sidebar-left-toggle" data-toggle-class="sidebar-left-collapsed" data-target="html" >
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <!--OK-->
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main pb-5" role="navigation">
                <ul class="nav nav-main pb-5">
                    @foreach (var menu in Model)
                    {
                        if (menu.ChildPermissions.Count > 0) //level 1 with its children (dropdown)
                        {

                            <li class="nav-parent" id="@menu.Title">
                                <a class="nav-link" href="@menu.NavigationUrl">
                                    @if (menu.NotificationBadgeCount > 0 && menu.Id == (int)PermissionTypes.WebsiteContentManagement)
                                    {
                                        <span class="float-end badge badge-primary me-3 customerNotificationCount">@menu.NotificationBadgeCount</span>
                                    }
                                    @if (menu.Id == (int)PermissionTypes.SalesOrder)
                                    {
                                        <span class="float-end badge badge-primary me-3 customerNotificationCount">@menu.SalesOrderBadgeCount</span>
                                    }
                                    <i class="@menu.Icon" aria-hidden="true"></i>
                                    <span>@menu.Title</span>
                                </a>
                                @if (menu.ChildPermissions.Count > 0) //level 2 with its children (dropdown)
                                {

                                    <ul class="nav nav-children">
                                        @foreach (var child in menu.ChildPermissions)
                                        {
                                            if (child.ChildPermissions.Count > 0) //level 2
                                            {
                                                <li class="nav-parent" id="@child.Title">
                                                    <a class="nav-link" href="@child.NavigationUrl">
                                                       
                                                        <i class="@child.Icon" aria-hidden="true"></i>
                                                        <span>@child.Title</span>
                                                    </a>
                                                    @if (child.ChildPermissions.Count > 0)
                                                    {
                                                        <ul class="nav nav-children">
                                                            @foreach (var subChild in child.ChildPermissions)
                                                            {
                                                                <li id="@subChild.Title">
                                                                    <a class="nav-link" href="@subChild.NavigationUrl">
                                                                        <i class="@subChild.Icon" aria-hidden="true"></i>
                                                                        <span>@subChild.Title</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }

                                                </li>
                                            }
                                            else
                                            {

                                                <li id="@child.Title">
                                                    <a class="nav-link" href="@child.NavigationUrl">
                                                        @if (child.NotificationBadgeCount > 0 && child.Id == (int)PermissionTypes.CustomerFeedback)
                                                        {
                                                            <span class="float-end badge badge-primary customerNotificationCount">@menu.NotificationBadgeCount</span>
                                                        }
                                                        @if (child.Id == (int)PermissionTypes.Orders)
                                                        {
                                                            <span class="float-end badge badge-primary customerNotificationCount">@menu.SalesOrderBadgeCount</span>
                                                        }
                                                        <i class="@child.Icon" aria-hidden="true"></i>
                                                        <span>@child.Title</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>

                                }
                            </li>
                        }
                        else
                        {
                            <li id="@menu.Title">
                                @if (!string.IsNullOrEmpty(menu.NavigationUrl))
                                {
                                    <a class="nav-link" href="@menu.NavigationUrl">
                                        <i class="@menu.Icon" aria-hidden="true"></i>
                                        <span>@menu.Title</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link">
                                        <i class="@menu.Icon" aria-hidden="true"></i>
                                        <span>@menu.Title</span>
                                    </a>
                                }
                            </li>
                        }

                    }


                </ul>
            </nav>


        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>
    </aside>