@model CheckOutModel
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["Checkout"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PleaseSelect"]</h4>
                <ul class="nav nav-pills customer-sigin-status delivery-addresses mb-4 row col-12 col-lg-10 mx-auto justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="continue-as-guest-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["ContinueAsGuest"]</span>
                        </a>
                    </li>
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="sign-in-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["SignIn"]</span>
                        </a>
                    </li>
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="sign-up-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["SignUp"]</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="pills-continue-as-guest-tab" tabindex="0">
                        <div class="customer-details mb-4">
                            <hr>
                            <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["CustomerDetails"]</h4>
                            <form id="register-form" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-12 col-lg-3 col-xl-4 mb-3">
                                        <label for="inputName1" class="form-label">@SharedHtmlLocalizer["Name"]<span class="ms-1 text-danger"></span></label>
                                        <input type="text" id="Name" name="Name" class="form-control rounded-5 border-secondary body-bg-secondary" placeholder="@SharedHtmlLocalizer["EnterYourName"]">
                                    </div>
                                    <div class="col-12 col-lg-6 col-xl-4 mb-3">
                                        <label for="inputName2" class="form-label">
                                            @SharedHtmlLocalizer["MobileNumber"]<span class="ms-1 text-danger">*</span><span class="verified-check ms-1 fw-bold text-success" style="display: none;">
                                                @SharedHtmlLocalizer["Verified"] <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-text rounded-pill rounded-end border border-end-0 border-secondary pe-0">
                                                <img src="/assets/img/Kuwait_flag.svg" width="25">
                                            </span>
                                            <span class="input-group-text border border-secondary border-start-0 p-1" id="basic-addon1">
                                                <bdi>+965</bdi>
                                            </span>
                                            <input type="tel" id="MobileNumber" name="MobileNumber"
                                                   class="form-control border-start-0 rounded-5 border-secondary body-bg-secondary"
                                                   maxlength="8" onkeypress="return validateMobileNumber(event);"
                                                   placeholder="@SharedHtmlLocalizer["EnterYourMobileNumber"]" />
                                        </div>
                                        <div id="dvErrorMobileNumber">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 col-xl-4 mb-3">
                                        <label for="inputName2" class="form-label">@SharedHtmlLocalizer["Email"]</label>
                                        <input type="email" id="EmailAddress" name="EmailAddress"
                                               class="form-control rounded-5 border-secondary body-bg-secondary"
                                               placeholder="@SharedHtmlLocalizer["EnterYourEmailAddress"]">
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-8 col-xl-6 mx-auto text-start">
                                        <div class="form-check">
                                            <input class="form-check-input mt-0 me-2" type="checkbox" id="gridCheck">
                                            <label class="form-check-label d-block" for="gridCheck">
                                                @SharedHtmlLocalizer["IAgreeToThe"] <a href="#" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#PrivacyPolicyModal">@SharedHtmlLocalizer["PrivacyPolicy"]</a> & <a href="#" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#TermsConditionsModal">@SharedHtmlLocalizer["TermsAndConditions"]</a>
                                            </label>
                                        </div>
                                        <div id="dvErrorhdnTerms">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sign-in" role="tabpanel" aria-labelledby="pills-signin-tab" tabindex="0">
                        <div class="customer-signin mb-4">
                            <hr>
                            <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["SignIn"]</h4>
                            <form id="login-form" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-12 col-lg-6 mx-auto mb-3">
                                        <label for="inputName2" class="form-label">
                                            @SharedHtmlLocalizer["MobileNumber"]<span class="verified-check ms-1 fw-bold text-success" style="display: none;">
                                                @SharedHtmlLocalizer["Verified"] <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-text rounded-pill rounded-end border border-end-0 border-secondary pe-0">
                                                <img src="/assets/img/Kuwait_flag.svg" width="25">
                                            </span>
                                            <span class="input-group-text border border-secondary border-start-0 p-1" id="basic-addon1">
                                                <bdi>+965</bdi>
                                            </span>
                                            <input type="tel" id="LoginMobileNumber" name="LoginMobileNumber" class="form-control border-start-0 rounded-5 border-secondary body-bg-secondary" placeholder="Mobile">
                                        </div>
                                        <div id="dvErrorLoginMobileNumber">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button id="btn-continue" class="btn btn-primary color-white rounded-pill fw-bold px-5 continue-btn otp-code-button" style="display:none;">@SharedHtmlLocalizer["Continue"]</button>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="OTPModal" tabindex="-1" aria-labelledby="OTPModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="OTPModalTitle">@SharedHtmlLocalizer["VerifyMobileNumber"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="bg-light-secondary p-4 rounded">
                            <form>
                                <div class="row justify-content-center">
                                    <div class="col-12 text-center">
                                        @SharedHtmlLocalizer["PleaseEnterOTPcodeWhichHasBeenSentToMobileNumber"]<br>
                                        <span class="fw-bold" id="yourMobileNumber"></span>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div id="otp" class="row align-items-center ">
                                            <div class="col-3 my-1">
                                                <input type="number" class="form-control rounded-3 text-center fs-4" placeholder="" id="otp1" min="0" max="9" maxlength="1" pattern="[0-9]">
                                            </div>
                                            <div class="col-3 my-1">
                                                <input type="number" class="form-control rounded-3 text-center fs-4" placeholder="" id="otp2" min="0" max="9" maxlength="1" pattern="[0-9]">
                                            </div>
                                            <div class="col-3 my-1">
                                                <input type="number" class="form-control rounded-3 text-center fs-4" placeholder="" id="otp3" min="0" max="9" maxlength="1" pattern="[0-9]">
                                            </div>
                                            <div class="col-3 my-1">
                                                <input type="number" class="form-control rounded-3 text-center fs-4" placeholder="" id="otp4" min="0" max="9" maxlength="1" pattern="[0-9]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <div id="timer" class="mb-3">04:59</div>
                            </div>
                            <div class="col-12 text-center">
                                <button id="resend" type="button" class="btn btn-secondary text-light rounded-pill me-1">@SharedHtmlLocalizer["ResendOTP"]</button>
                                <a href="#" class="btn btn-primary rounded-pill ms-1 verify-otp-button" id="otp-button">@SharedHtmlLocalizer["VerifyOTP"]</a>
                                <input type="hidden" id="requestId" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var type = 1;
    $(document).ready(function () {
        $("#continue-as-guest-tab").click(function () {
            type = 1;
            $("#register").addClass("active show");
            $("#sign-in").removeClass("active show");
            $("#btn-continue").show();
            return false;
        });

        $("#sign-in-tab").click(function () {
            type = 2;
            $("#register").removeClass("active show");
            $("#sign-in").addClass("active show");
            $("#btn-continue").show();
            return false;
        });

        $("#sign-up-tab").click(function () {
            type = 3;
            $("#register").addClass("active show");
            $("#sign-in").removeClass("active show");
            $("#btn-continue").show();
            return false;
        });

        $("#login-form").validate({
            rules: {
                LoginMobileNumber: {
                    required: true, rangelength: [8, 8], phoneStartCheck: true
                }
            },
            messages: {
                LoginMobileNumber: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberIsRequired"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberShouldBe8Digits"]</span></div>",
                    phoneStartCheck: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["EnterAValidMobileNumber"]</span></div>"
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#register-form").validate({
            rules: {
                MobileNumber: {
                    required: true, rangelength: [8, 8], phoneStartCheck: true
                }
            },
            messages: {
                MobileNumber: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberIsRequired"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberShouldBe8Digits"]</span></div>",
                    phoneStartCheck: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["EnterAValidMobileNumber"]</span></div>"
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#btn-continue").click(function (event) {
            event.preventDefault();
            if (type == 2) {
                $('#login-form').validate();
                if ($("#login-form").valid()) {
                    var mobileNumber = $("#LoginMobileNumber").val();
                    $.post("@Url.RouteUrl("login")", { MobileNumber: mobileNumber }, function (result) {
                        if (result.success) {
                            $("#requestId").val(result.data.otpDetailId);
                            $("#yourMobileNumber").text($("#MobileNumber").val());

                            var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                            document.getElementById('timer').innerHTML = time;
                            startTimer();
                            $("#resend").hide();
                            $("#otp-button").show();

                            let myModal = new bootstrap.Modal(document.getElementById('OTPModal'), {});
                            myModal.show();
                        }
                        else {
                            if (result.message != "") {
                                ToastAlert('error', '', result.message);
                            }
                        }
                    });
                }
            }
            else if (type == 1 || type == 3) {
                $("#dvErrorhdnTerms").html("");
                $('#register-form').validate();
                if ($("#register-form").valid()) {
                    if ($("#gridCheck").prop('checked') == false) {
                        $("#dvErrorhdnTerms").html("<div class='invalid-feedback has-error' style='display:block !important;'><span>@SharedHtmlLocalizer["Please check 'I agree to the Terms & Conditions'"]</span></div>");
                        return false;
                    }

                    var name = $("#Name").val();
                    var mobileNumber = $("#MobileNumber").val();
                    var email = $("#EmailAddress").val();
                    $("#verifyMobile").text("+965" + mobileNumber);
                    var email = $("#EmailAddress").val();
                    var guest = false;
                    if (type == 1)
                        guest = true;

                    $.post("@Url.RouteUrl("register")", {
                        Name: name,
                        MobileNumber: mobileNumber,
                        EmailAddress: email,
                        Guest: guest
                    }, function (result) {
                        console.log(result);
                        if (result.success) {
                            $("#pVerificationMessage").text(result.message);
                            $("#requestId").val(result.data.otpDetailId);

                            WindowWidth = $(window).width();
                            WindowHeight = $(window).height();
                            BodyHeight = $('body').height();
                            if (BodyHeight < WindowHeight) {
                                if (WindowWidth > 768) {
                                    $('footer').attr('class', 'fixed-bottom')
                                }
                            }
                            else {
                                $('footer').removeClass('fixed-bottom')
                            }

                            var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                            document.getElementById('timer').innerHTML = time;
                            startTimer();
                            $("#resend").hide();
                            $("#otp-verify-btn").show();

                            let myModal = new bootstrap.Modal(document.getElementById('OTPModal'), {});
                            myModal.show();
                        }
                        else {
                            if (result.message != "")
                                ToastAlert("error", "", result.message);
                        }
                    });
                }
            }
        });

        $("#resend").click(function () {
            $("#otp1").val('');
            $("#otp2").val('');
            $("#otp3").val('');
            $("#otp4").val('');

            var otpDetailId = $("#requestId").val();
            if (otpDetailId.length == 0)
                return;

            $.get("@Url.RouteUrl("resendOTP")", { otpDetailId: otpDetailId }, function (result) {
                if (result.success) {
                    $("#requestId").val(result.data.otpDetailId);
                    var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                    document.getElementById('timer').innerHTML = time;
                    startTimer();
                    $("#resend").hide();
                    $("#otp-button").show();
                }
                else {
                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });

        $("#otp-button").on("click", function () {
            var requestId = $("#requestId").val();
            if (requestId.length == 0)
                return;

            var otp = $("#otp1").val() + $("#otp2").val() + $("#otp3").val() + $("#otp4").val();
            if (otp == "") {
                ToastAlert('error', '', "@SharedHtmlLocalizer["OTPIsRequired"]");
                return;
            }

            $.post("@Url.RouteUrl("verifyOTP")", {
                RequestId: requestId, OTP: otp
            }, function (result) {
                if (result.success) {
                    window.location.href = "@Url.RouteUrl("checkoutaddress")";
                }
                else {
                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });
    });

    function OTPInput() {
        var inputs = document.querySelectorAll('#otp  *[id]');
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('keydown', function (event) {
                if (event.key === "Backspace") {
                    inputs[i].value = '';
                    if (i !== 0) {
                        inputs[i - 1].focus();
                        var txtOtp = inputs[i - 1].id;
                        $("#" + txtOtp).removeAttr("readonly");
                    }
                } else {
                    if (inputs[i].value !== '') {
                        event.preventDefault();
                    } else if ((event.keyCode > 47 && event.keyCode < 58) || (event.keyCode >= 96 && event.keyCode <= 105)) {
                        if (inputs[i].value !== '') {


                        } else {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1) {
                                inputs[i + 1].focus();
                                var txtOtp = inputs[i + 1].id;
                                $("#" + txtOtp).removeAttr("readonly");
                            }
                            event.preventDefault();
                        }
                    } else if (event.keyCode > 64 && event.keyCode < 91) {
                        inputs[i].value = String.fromCharCode(event.keyCode);
                        // if (i !== inputs.length - 1) inputs[i +
                        //     1].focus();
                        event.preventDefault();
                    }
                }
            });
        }
    }
    OTPInput();

    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);

        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if (s == 59) {
            m = m - 1
        }
        if (m < 0) {
            return
        }
        document.getElementById('timer').innerHTML = m + ":" + s;
        console.log(m);
        if (m === '0' && s === '00') {
            $("#resend").show();
            $("#otp-button").hide();
        }
        else {
            setTimeout(startTimer, 1000);
        }
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {
            sec = "0" + sec
        }; // add zero in front of numbers < 10
        if (sec < 0) {
            sec = "59"
        };
        return sec;
    }

    function millisToMinutesAndSeconds(millis) {
        var minutes = Math.floor(millis / 60000);
        var seconds = ((millis % 60000) / 1000).toFixed(0);
        return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
    }
</script>