@using Microsoft.AspNetCore.Mvc.Localization
@model CheckOutModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using Utility.Enum
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["Checkout"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["SignIn"].Value });
}
@await Html.PartialAsync("_PageHeading2", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PleaseSelect"]</h4>
                <ul class="nav nav-pills customer-sigin-status delivery-addresses mb-4 row col-12 col-lg-10 mx-auto justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="continue-as-guest-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["Guest"]</span>
                        </a>
                    </li>
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="sign-in-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["SignIn"]</span>
                        </a>
                    </li>
                    <li class="nav-item col-12 col-md-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 "
                           id="sign-up-tab">
                            <span class="text-muted">@SharedHtmlLocalizer["SignUp"]</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="pills-continue-as-guest-tab" tabindex="0">
                        <div class="customer-details mb-4">
                            <hr>
                            <h4 id="h4-register-title" class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["CustomerDetails"]</h4>
                            <form id="register-form" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-xl-4 mb-3">
                                        <label for="inputName2" class="form-label">
                                            @SharedHtmlLocalizer["MobileNumber"]<span class="ms-1 text-danger">*</span><span class="verified-check ms-1 fw-bold text-success" style="display: none;">
                                                @SharedHtmlLocalizer["Verified"] <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                        </label>
                                        <div class="input-group mobile-field">
                                            <span class="input-group-text rounded-pill rounded-end border border-end-0 border-secondary pe-0">
                                                <img src="/assets/img/Kuwait_flag.svg" width="25">
                                            </span>
                                            <span class="input-group-text border border-secondary border-start-0 p-1" id="basic-addon1">
                                                <bdi>+965</bdi>
                                            </span>
                                            <input type="tel" id="MobileNumber" name="MobileNumber"
                                                   class="form-control border-start-0 rounded-start rounded-pill border-secondary body-bg-secondary"
                                                   maxlength="8" onkeypress="return validateMobileNumber(event);" />
                                        </div>
                                        <div id="dvErrorMobileNumber">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 col-xl-4 mb-3">
                                        <label for="inputName1" class="form-label">@SharedHtmlLocalizer["Name"]<span class="ms-1 text-danger"></span></label>
                                        <input type="text" id="Name" name="Name" class="form-control rounded-5 border-secondary body-bg-secondary">
                                        <div id="dvErrorName">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 col-xl-4 mb-3">
                                        <label for="inputName2" class="form-label">@SharedHtmlLocalizer["Email"]</label>
                                        <input type="text" id="EmailAddress" name="EmailAddress"
                                               class="form-control rounded-5 border-secondary body-bg-secondary">
                                        <div id="dvErrorEmailAddress">
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="form-check d-flex justify-content-center mx-auto text-start mb-3">
                                            <input class="form-check-input mt-0 me-2" type="checkbox" id="gridCheck">
                                            <label class="form-check-label d-block" for="gridCheck">
                                                @SharedHtmlLocalizer["IAgreeToThe"]
                                                <a id="a-privacy-policy" class="text-primary fw-bold" href="#">
                                                    @SharedHtmlLocalizer["PrivacyPolicy"]
                                                </a> @SharedHtmlLocalizer["And"] <a id="a-terms" class="text-primary fw-bold" href="#">
                                                    @SharedHtmlLocalizer["TermsAndConditions"]
                                                </a>
                                            </label>
                                        </div>
                                        <div id="dvErrorhdnTerms" class="text-center mb-3">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sign-in" role="tabpanel" aria-labelledby="pills-signin-tab" tabindex="0">
                        <div class="customer-signin mb-4">
                            <hr>
                            <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["SignIn"]</h4>
                            <form id="login-form" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-12 col-lg-6 mx-auto mb-3">
                                        <label for="inputName2" class="form-label">
                                            @SharedHtmlLocalizer["MobileNumber"]<span class="ms-1 text-danger">*</span><span class="verified-check ms-1 fw-bold text-success" style="display: none;">
                                                @SharedHtmlLocalizer["Verified"] <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                        </label>
                                        <div class="input-group mobile-field">
                                            <span class="input-group-text rounded-pill rounded-end border border-end-0 border-secondary pe-0">
                                                <img src="/assets/img/Kuwait_flag.svg" width="25">
                                            </span>
                                            <span class="input-group-text border border-secondary border-start-0 p-1" id="basic-addon1">
                                                <bdi>+965</bdi>
                                            </span>
                                            <input type="tel" id="LoginMobileNumber" name="LoginMobileNumber"
                                                   class="form-control border-start-0 rounded-start rounded-pill border-secondary body-bg-secondary"
                                                   maxlength="8" onkeypress="return validateMobileNumber(event);"/>
                                        </div>
                                        <div id="dvErrorLoginMobileNumber">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button id="btn-continue" class="btn btn-primary color-white rounded-pill fw-bold px-5 continue-btn otp-code-button" style="display:none;">@SharedHtmlLocalizer["Continue"]</button>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_OTPModel")
<script>
    var type = 1;
    $(document).ready(function () {
        OTPInput();
        $("#continue-as-guest-tab").click(function () {
            type = 1;
            $("#register").addClass("active show");
            $("#sign-in").removeClass("active show");
            $("#continue-as-guest-tab").addClass("active");
            $("#sign-in-tab").removeClass("active");
            $("#sign-up-tab").removeClass("active");
            $("#btn-continue").show();
            $("#h4-register-title").html("@SharedHtmlLocalizer["GuestUser"]");
            return false;
        });

        $("#sign-in-tab").click(function () {
            type = 2;
            $("#register").removeClass("active show");
            $("#sign-in").addClass("active show");
            $("#continue-as-guest-tab").removeClass("active");
            $("#sign-in-tab").addClass("active");
            $("#sign-up-tab").removeClass("active");
            $("#btn-continue").show();
            return false;
        });

        $("#sign-up-tab").click(function () {
            type = 3;
            $("#register").addClass("active show");
            $("#sign-in").removeClass("active show");
            $("#continue-as-guest-tab").removeClass("active");
            $("#sign-in-tab").removeClass("active");
            $("#sign-up-tab").addClass("active");
            $("#btn-continue").show();
            $("#h4-register-title").html("@SharedHtmlLocalizer["SignUp"]");
            return false;
        });

        $("#login-form").validate({
            rules: {
                LoginMobileNumber: {
                    required: true, rangelength: [8, 8], phoneStartCheck: true
                }
            },
            messages: {
                LoginMobileNumber: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberIsRequired"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberShouldBe8Digits"]</span></div>",
                    phoneStartCheck: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["EnterAValidMobileNumber"]</span></div>"
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#register-form").validate({
            rules: {
                MobileNumber: {
                    required: true, rangelength: [8, 8], phoneStartCheck: true
                },
                EmailAddress: {
                    email: true
                }
            },
            messages: {
                MobileNumber: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberIsRequired"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["MobileNumberShouldBe8Digits"]</span></div>",
                    phoneStartCheck: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["EnterAValidMobileNumber"]</span></div>"
                },
                EmailAddress: {
                    email: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["EnterAValidEmail"]</span></div>",
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#btn-continue").click(function (event) {
            event.preventDefault();
            if (type == 2) {
                $('#login-form').validate();
                if ($("#login-form").valid()) {
                    var mobileNumber = $("#LoginMobileNumber").val();
                    $.post("@Url.RouteUrl("login")", { MobileNumber: mobileNumber }, function (result) {
                        if (result.success) {
                            $("#pVerificationMessage").text(result.message);
                            $("#requestId").val(result.data.otpDetailId);

                            var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                            document.getElementById('timer').innerHTML = time;
                            startTimer();
                            $("#resend").hide();
                            $("#otp-button").show();

                            let myModal = new bootstrap.Modal(document.getElementById('OTPModal'), {});
                            myModal.show();
                        }
                        else {
                            if (result.message != "") {
                                ToastAlert('error', '', result.message);
                            }
                        }
                    });
                }
            }
            else if (type == 1 || type == 3) {
                $("#dvErrorhdnTerms").html("");
                $('#register-form').validate();
                if ($("#register-form").valid()) {
                    if ($("#gridCheck").prop('checked') == false) {
                        $("#dvErrorhdnTerms").html("<div class='invalid-feedback has-error' style='display:block !important;'><span>@SharedHtmlLocalizer["PleaseCheckIAgreeToTheTermsAndConditions"]</span></div>");
                        return false;
                    }

                    var name = $("#Name").val();
                    var mobileNumber = $("#MobileNumber").val();
                    var email = $("#EmailAddress").val();
                    var guest = false;
                    if (type == 1)
                        guest = true;

                    $.post("@Url.RouteUrl("register")", {
                        Name: name,
                        MobileNumber: mobileNumber,
                        EmailAddress: email,
                        Guest: guest
                    }, function (result) {
                        console.log(result);
                        if (result.success) {
                            $("#pVerificationMessage").text(result.message);
                            $("#requestId").val(result.data.otpDetailId);

                            WindowWidth = $(window).width();
                            WindowHeight = $(window).height();
                            BodyHeight = $('body').height();
                            if (BodyHeight < WindowHeight) {
                                if (WindowWidth > 768) {
                                    $('footer').attr('class', 'fixed-bottom')
                                }
                            }
                            else {
                                $('footer').removeClass('fixed-bottom')
                            }

                            var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                            document.getElementById('timer').innerHTML = time;
                            startTimer();
                            $("#resend").hide();
                            $("#otp-verify-btn").show();

                            let myModal = new bootstrap.Modal(document.getElementById('OTPModal'), {});
                            myModal.show();
                        }
                        else {
                            if (result.message != "")
                                ToastAlert("error", "", result.message);
                        }
                    });
                }
            }
        });

        $("#resend").click(function () {
            $("#otp1").val('');
            $("#otp2").val('');
            $("#otp3").val('');
            $("#otp4").val('');

            var otpDetailId = $("#requestId").val();
            if (otpDetailId.length == 0)
                return;

            $.get("@Url.RouteUrl("resendOTP")", { otpDetailId: otpDetailId }, function (result) {
                if (result.success) {
                    $("#requestId").val(result.data.otpDetailId);
                    var time = millisToMinutesAndSeconds(result.data.millisecondsForExpiry);
                    document.getElementById('timer').innerHTML = time;
                    startTimer();
                    $("#resend").hide();
                    $("#otp-button").show();
                }
                else {
                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });

        $("#otp-button").on("click", function () {
            $("#divIncorrectOtp").html("");
            var requestId = $("#requestId").val();
            if (requestId.length == 0)
                return;

            var otp = $("#otp1").val() + $("#otp2").val() + $("#otp3").val() + $("#otp4").val();
            if (otp == "") {
                $("#divIncorrectOtp").html("@SharedHtmlLocalizer["OTPIsRequired"]");
                return;
            }

            $.post("@Url.RouteUrl("verifyOTP")", {
                RequestId: requestId, OTP: otp
            }, function (result) {
                if (result.success) {
                    window.location.href = "@Url.RouteUrl("checkoutaddress")";
                }
                else {
                    if (result.message != "") {
                        $("#divIncorrectOtp").html(result.message);
                    }
                }
            });
        });

        $("#a-privacy-policy").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("getsitecontents", new { appContentType = (int)AppContentType.PrivacyPolicy })", function (result) {
                if (result.content != "") {
                    $("#common-model-popup-title").html("@SharedHtmlLocalizer["PrivacyPolicy"]");
                    $("#common-model-popup-description").html(result.content);
                    $('#common-model-popup').modal('show');
                }
            });
        });

        $("#a-terms").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("getsitecontents", new { appContentType = (int)AppContentType.TermsCondition })", function (result) {
                if (result.content != "") {
                    $("#common-model-popup-title").html("@SharedHtmlLocalizer["TermsAndConditions"]");
                    $("#common-model-popup-description").html(result.content);
                    $('#common-model-popup').modal('show');
                }
            });
        });
    });
</script>