@using Microsoft.AspNetCore.Mvc.Localization
 @{  
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["My Account"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "ChangePassword", Title = SharedHtmlLocalizer["Change Password"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="profile-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body rounded-top rounded-bottom">
                                    <form id="form-change-password" class="row g-3 p-4 ">
                                        <div class="col-md-12">
                                            <label for="inputCurrentPassword" class="form-label">
                                                @SharedHtmlLocalizer["CurrentPassword"]
                                            </label>
                                            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword"
                                                   placeholder="**********">
                                            <div id="dvErrorCurrentPassword">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputNewPassword" class="form-label">
                                                @SharedHtmlLocalizer["New Password"]
                                            </label>
                                            <input type="password" class="form-control" id="NewPassword" name="NewPassword"
                                                   placeholder="**********">
                                            <div id="dvErrorNewPassword">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputConfirmPassword" class="form-label">
                                                @SharedHtmlLocalizer["Confirm Password"]
                                            </label>
                                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"
                                                   placeholder="**********">
                                            <div id="dvErrorConfirmPassword">
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="javascript:void(0)" id="change-password" class="btn btn-primary px-5">@SharedHtmlLocalizer["Update"]</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#liChangePassword').addClass("menu-active");

        $("#form-change-password").validate({
            ignore: [],
            rules: {
                CurrentPassword: {
                    required: true, rangelength: [6, 15]
                },
                NewPassword: {
                    required: true, rangelength: [6, 15], notEqualTo: "#CurrentPassword"
                },
                ConfirmPassword: {
                    required: true, rangelength: [6, 15], equalTo: "#NewPassword"
                }
            },
            messages: {
                CurrentPassword: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Current password is required"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Current password should not contain less than 6 character"]</span></div>"
                },
                NewPassword: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["New password is required"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["New password should not contain less than 6 character"]</span></div>",
                    notEqualTo: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["New password should not be same as current password"]</span></div>",
                },
                ConfirmPassword: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Confirm password is required"]</span></div>",
                    rangelength: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Confirm password should not contain less than 6 character"]</span></div>",
                    equalTo: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Confirm password should be same as new password"]</span></div>",
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#change-password").click(function () {
            $('#form-change-password').validate();
            if ($("#form-change-password").valid()) {
                var currentPassword = $("#CurrentPassword").val();
                var confirmPassword = $("#ConfirmPassword").val();

                $.post("@Url.RouteUrl("changepassword")", {
                    oldPassword: currentPassword,
                    newPassword: confirmPassword
                }, function (result) {
                    if (result.success) {
                        if (result.data) {
                            if (result.message != "")
                                showToastSuccessMessage(result.message);

                            $("#CurrentPassword").val("");
                            $("#NewPassword").val("");
                            $("#ConfirmPassword").val("");
                        }
                        else {
                            if (result.message != "")
                                showToastErrorMessage(result.message);
                        }
                    }
                    else {
                        if (result.messageCode == 401) {
                            var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                            window.location.href = "/login?returnUrl=" + returnUrl;
                            return;
                        }

                        if (result.message != "")
                            showToastErrorMessage(result.message);
                    }
                });
            }
        });
    });
</script>