@using Microsoft.AspNetCore.Mvc.Localization
@{
   var breadCrumbItems = new List<BreadcrumbModel>();
   breadCrumbItems.Add(new BreadcrumbModel() { Url = "ForgotPassword", Title = SharedHtmlLocalizer["Forgot Password"].Value });
 
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content bg-white py-5" id="sec-forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body rounded-top rounded-bottom">
                        <form id="form-forgot-password" class="row g-3 p-4 ">
                            <div class="col-md-12">
                                <label for="inputEmail4" class="form-label">@SharedHtmlLocalizer["Email"]</label>
                                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress">
                                <div id="dvErrorEmailAddress">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <a href="javascript:void(0)" id="btn-request-password" class="btn btn-primary px-5">
                                    @SharedHtmlLocalizer["Request New Password"]
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content bg-white pb-5" id="sec-verification" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="text-center">
                    <img src="/images/icons/email-verification.svg" alt="Email Verification">
                    <p class="text-primary mb-0 pt-3">@SharedHtmlLocalizer["We have sent email to"]</p>
                    <a href="#" id="a-emaiaddress" class="text-primary fw-bold"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#form-forgot-password").validate({
            ignore: [],
            rules: {
                EmailAddress: {
                    required: true, customEmail: true
                }
            },
            messages: {
                EmailAddress: {
                    required: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Email is required"]</span></div>",
                    customEmail: "<div class='invalid-feedback' style='display:block !important;'><span>@SharedHtmlLocalizer["Enter a valid email"]</span></div>"
                }
            },
            errorPlacement: function ($error, $element) {
                var name = $element.attr("name");
                $("#dvError" + name).append($error);
            }
        });

        $("#btn-request-password").click(function () {
            $('#form-forgot-password').validate();
            if ($("#form-forgot-password").valid()) {
                var emailAddress = $("#EmailAddress").val();

                $.post("@Url.RouteUrl("forgotpassword")", {
                    emailAddress: emailAddress
                }, function (result) {
                    if (result.success) {
                        if (result.data) {
                            if (result.message != "")
                                showToastSuccessMessage(result.message);

                            $('#sec-forgot-password').hide();
                            $('#sec-verification').show();
                            $("#a-emaiaddress").html(emailAddress);
                        }
                        else {
                            if (result.message != "")
                                ToastAlert('error', '', result.message);
                        }
                    }
                    else {
                        if (result.message != "")
                            ToastAlert('error', '', result.message);
                    }
                });
            }
        });
    });
</script>