@model WalletPackageWithPaymentMethodModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using Utility.Enum;
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("mywallet", new { walletType = (int)(WalletType.Wallet) }), Title = SharedHtmlLocalizer["MyWallet"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["WalletPrepaidCards"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 packages-cards">
                @if (Model.WalletPackages.Count > 0)
                {
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["SelectWalletPrepaidCard"]</h4>
                    <div class="row justify-content-center">
                        @foreach (var item in Model.WalletPackages)
                        {
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                                <div class="package-card py-4 px-3 d-flex flex-column body-bg-secondary border border-secondary rounded-4 align-items-center h-100" data-id="@item.Id" data-amount="@item.FormattedAmount">
                                    <h4 class="mb-1 fw-bold text-primary text-center">@item.Title</h4>
                                    <h5 class="mb-3 fw-normal text-center">@item.Description</h5>
                                    <div class="d-flex flex-column w-100 mt-auto text-center">
                                        <a href="javascript:;" class="btn btn-primary rounded-pill mb-0 fw-bold">@SharedHtmlLocalizer["Buy"] @item.FormattedAmount</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="display-1 fas fa-boxes text-center text-primary"></i>
                        </div>
                        <div class="col-12 text-center">
                            <h5 class="mt-3 text-primary">@SharedHtmlLocalizer["NoWalletPrepaidCardsAdded"]</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 col-lg-8 mx-auto payment-method mb-4" style="display: none;">
                <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PaymentMethod"]</h4>
                <div class="bg-grey rounded-4 p-3 mx-0">
                    @await Html.PartialAsync("_PaymentMethod", Model.PaymentMethods)
                </div>
            </div>
            <div class="col-12 col-lg-8 mx-auto mb-4 payment-method" style="display: none;">
                <div class="bg-grey row rounded-4 p-3 mx-0">
                    <ul class="list-group list-group-flush pe-0">
                        <li class="list-group-item border-secondary d-flex justify-content-between fs-5 px-0">
                            <label class="text-muted">@SharedHtmlLocalizer["Total"]</label>
                            <p class="text-primary mb-0 fw-bold">
                                <span class="crossed-out-price text-decoration-line-through text-muted me-2"></span><span class="to-pay-price" id="total-amount"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="offset-lg-4"></div>
            <div class="col-12 col-lg-4 mx-auto text-center payment-method" style="display: none;">
                <div class="d-flex justify-content-center">
                    <a href="javascript:;" class="btn btn-secondary color-white rounded-pill col-5 me-2 fw-bold d-block d-md-none text-light package-card-back-btn">Back</a>
                    <a id="a-checkout" href="javascript:;" class="btn btn-primary color-white rounded-pill col-5 fw-bold continue-btn">@SharedHtmlLocalizer["Checkout"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#a-checkout").click(function () {
            var walletPackageId = $('div.package-card.active').attr('data-id');
            var paymentMethodId = $('input[name="payment-method-radio"]:checked').val();
            if (paymentMethodId == "" || paymentMethodId == null || paymentMethodId == undefined) {
                ToastAlert('error', '', "@SharedHtmlLocalizer["PleaseChoosePaymentMethod"]");
                return false;
            }

            showLoader();
            $.post("@Url.RouteUrl("createwalletpackageorder")", {
                WalletPackageId: walletPackageId,
                PaymentMethodId: paymentMethodId
            }, function (result) {
                if (result.success && result.data != null) {
                    if (result.data.redirectToPaymentPage) {
                        window.location.href = result.data.paymentUrl;
                    }
                    else {
                        window.location.href = "/ORD/" + result.data.entityNumber;
                    }
                }
                else {
                    hideLoader();

                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });

            return false;
        });

        $(".package-card").click(function () {
            var amount = $(this).data('amount');
            setLabelValue("total-amount", amount);
        });

        $(".package-card").click(function () {
            $(".package-card").removeClass("active");
            $(this).addClass("active");
            $(".payment-method").show();

            if ($(window).width() < 480) {
                $(".packages-cards").hide();
            }
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });

        $(".package-card-back-btn").click(function () {
            $(".packages-cards").show();
            $(".payment-method").hide();
        });

        $('input[type=radio][name=payment-method-radio]').change(function () {
            $(this).closest('ul').find('.inputGroup').removeClass('active');
            $(this).closest('.inputGroup').addClass('active');
        });
    });
</script>