@model Utility.Models.Frontend.CustomerManagement.WalletModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using Utility.Helpers;
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    var walletTypeId = ViewBag.WalletType;
    var walletTransactionsType = (int)(WalletType.Wallet);
    var transactionTypeClass = " text-light py-0 px-2 rounded-pill";
    var transactionAmountClass = " fw-bold";
    if (walletTypeId == walletTransactionsType)
    {
        breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["MyWallet"].Value });
    }
    else
    {
        breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["MyCashback"].Value });
    }
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-4 text-center" id="dv-wallet-header">
                <span class="fa-stack fa-2x mb-2">
                    <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-money-bill-1-wave fa-stack-1x fa-inverse"></i>
                </span>
                @if (walletTypeId == walletTransactionsType)
                {
                    <h5 class="text-center text-primary mb-2">@SharedHtmlLocalizer["WalletAmount"]</h5>
                    <h2 class="text-center text-primary fw-bold mb-0">@Model.FormattedWalletBalance</h2>
                    <a href="@Url.RouteUrl("walletpackages")" class="btn btn-primary rounded-pill text-white fw-bold mt-3">@SharedHtmlLocalizer["TopUpWallet"]</a>
                }
                else
                {
                    <h5 class="text-center text-primary mb-2">@SharedHtmlLocalizer["CashbackAmount"]</h5>
                    <h2 class="text-center text-primary fw-bold mb-0">@Model.FormattedCashbackBalance</h2>
                }
            </div>
            <div class="col-12 col-xl-10 mx-auto" id="dv-wallet">
                @foreach (var transactionDates in Model.WalletTransactionByDates)
                {
                    <h6 class="mb-1 mt-5 text-primary">@transactionDates.FormattedDate</h6>
                    @foreach (var transactions in transactionDates.WalletTransactions)
                    {
                        <div class="bg-grey rounded-4 p-4 pb-1 mx-0 mb-3 position-relative">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                                        @foreach (var item in transactions.PaymentSummary)
                                        {
                                            <div class="col mb-3">
                                                <p class="mb-0 fw-bold">@item.Title</p>
                                                <span class="mb-0 @(item.Title == MessagesAr.TransactionType || item.Title == Messages.TransactionType ? transactionTypeClass : item.Title == MessagesAr.TransactionAmount || item.Title == Messages.TransactionAmount ? transactionAmountClass : "" )"
                                                      style="background-color:@(item.Title == MessagesAr.TransactionType || item.Title == Messages.TransactionType ? transactions.ColorCode : "none");color:@(item.Title == MessagesAr.TransactionAmount || item.Title == Messages.TransactionAmount ? transactions.ColorCode : "")">@item.Value</span>
                                                </div>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row mt-5" id="dv-empty-wallet">
            <div class="col-12 text-center">
                <i class="display-1 fas fa-wallet text-center text-primary"></i>
            </div>
            <div class="col-12 text-center">
                <h5 class="mt-3 text-primary">@SharedHtmlLocalizer["NoTransactions"]</h5>
            </div>
        </div>
        <div id="dv-loadmore" style="text-align: center;display:none;">
            <a id="a-more" class="btn btn-primary rounded-pill text-white fw-bold text-uppercase mb-md-4 mb-0">@SharedHtmlLocalizer["View More"]</a>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        if ($('#dv-wallet').children().length > 0) {
            $("#dv-empty-wallet").hide();
        }
        else {
            $("#dv-empty-wallet").show();
        }
    });
</script>