
@model Data.Common.BaseEntityId
<header class="page-header">
    <h2> @(@Model.Id > 0 ? @SharedHtmlLocalizer["EditCoupon"] : @SharedHtmlLocalizer["NewCoupon"]) </h2>
    <input type="hidden" value="@Model.Id" id="Id" />
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["CouponDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <form method="post" id="dataForm" name="dataForm" enctype="multipart/form-data">
                    @await Html.PartialAsync("_FormHiddenFieldsPartial")
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <label class="form-label">@SharedHtmlLocalizer["CouponCode"]<span class=" text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" class="form-control form-control-lg rounded-4 border-secondary coupon-code-input" name="couponCode" id="couponCode" aria-describedby="" placeholder="@SharedHtmlLocalizer["CouponCode"]" value="" required>

                                <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTextForCouponCode"]</div>
                                <!-- ========== End Simple Input Field ========== --> <button class="btn btn-secondary text-light btn-lg fw-bold rounded-4 generate-code" type="button">@SharedHtmlLocalizer["GenerateRandomCode"]</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Datepicker Field ========== -->
                            <label for="CouponValidity" class="form-label">@SharedHtmlLocalizer["CouponValidity"]<span class=" text-danger">*</span></label>
                            <div class="input-daterange input-group rounded-4" data-plugin-datepicker>
                                <span class="input-group-text rounded-4 border border-secondary">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="startDate" id="startDate" aria-describedby="" placeholder="" value="" required>


                                <!-- ========== End Simple Input Field ========== -->
                                <span class="input-group-text border-start-0 border-end-0 border-secondary rounded-0">
                                    @SharedHtmlLocalizer["To"]
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="endDate" id="endDate" aria-describedby="" placeholder="" value="" required>


                                <!-- ========== End Simple Input Field ========== -->
                            </div>
                            <!-- ========== End Datepicker Field ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <label class="form-label">@SharedHtmlLocalizer["DiscountType"]<span class=" text-danger">*</span></label>
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-text rounded-4 border border-secondary">
                                            <input class="form-check-input mt-0" type="radio" name="discount-type-1" id="percentage">
                                            <span class="ms-2">%</span>
                                        </div>
                                        <!-- ========== Start Simple Input Field ========== -->


                                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="discountPercentage" id="discountPercentage" aria-describedby="" placeholder="0" value="" >


                                        <!-- ========== End Simple Input Field ========== -->
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-text rounded-4 border border-secondary">
                                            <input class="form-check-input mt-0" type="radio" name="discount-type-1" id="amount">
                                            <span class="ms-2">@SharedHtmlLocalizer["KWD"]</span>
                                        </div>
                                        <!-- ========== Start Simple Input Field ========== -->


                                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="discountAmount" id="discountAmount" aria-describedby="" placeholder="0" value="">


                                        <!-- ========== End Simple Input Field ========== -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="d-flex justify-content-between">
                                <div class="col-3">
                                    <h2 class="card-title text-primary mb-2">@SharedHtmlLocalizer["LimitUsage"]</h2>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  LimitUsage-switch">

                                        <input type="checkbox" name="limitUsageEnabled" id="limitUsageEnabled" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->
                                    <!-- ========== Start ios7 Switch Conditional Script ========== -->
                                  
                                    <!-- ========== End ios7 Switch Conditional Script ========== -->
                                </div>
                                <div class="col-8 LimitUsage">
                                    <!-- ========== Start Simple Input Field ========== -->

                                    <label for="quantity" class="form-label">@SharedHtmlLocalizer["Quantity"]<span class=" text-danger">*</span></label>
                                    <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="quantity" id="quantity" aria-describedby="@SharedHtmlLocalizer["Quantity"]" placeholder="" value="0" min="0">


                                    <!-- ========== End Simple Input Field ========== -->
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <!-- ========== Start ios7 Switch ========== -->

                            <div class="switch switch-sm switch-primary my-0  ">
                                <label for="">@SharedHtmlLocalizer["Status"]</label>
                                <input type="checkbox" name="active" id="active" data-plugin-ios-switch  />
                            </div>
                            <!-- ========== End ios7 Switch ========== -->

                        </div>
                    </div>



                    <div class="row mt-3">
                        <div class="col-12">
                            <button id="btnSave" class="btn btn-primary btn-lg save-btn fw-bold">@SharedHtmlLocalizer["Save"]</button>
                            <button type="button" class="btn btn-warning" onclick="history.go(-1)">@SharedHtmlLocalizer["Back"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>


<script src="~/developer/js/CouponPromotion/Coupon_CRUD.js" asp-append-version="true"></script>