@model Utility.Models.Frontend.Content.CompanySettingModel
<footer class="d-flex flex-column mt-auto">
    <div class="top-bar d-flex bg-primary align-items-center d-none d-lg-block pt-2">
        <div class="container">
            <div class="top-bar-contents d-flex flex-column flex-md-row justify-content-between align-items-center">
                <ul class="navbar-nav flex-row mb-2 mb-md-0 col-4">
                    @await Html.PartialAsync("_SocialMediaLinks", Model)
                </ul>
                <div class="d-flex flex-row align-items-center justify-content-center text-white col-4">
                    <a href="javascript:;" class="fw-bold link-light px-1 terms-and-conditions">@SharedHtmlLocalizer["TermsAndConditions"]</a>
                    | <a href="javascript:;" class="fw-bold link-light px-1 privacy-policy">@SharedHtmlLocalizer["PrivacyPolicy"]</a>
                    | <a href="javascript:;" class="fw-bold link-light px-1 refund-policy">@SharedHtmlLocalizer["RefundPolicy"]</a>
                </div>
                @await Html.PartialAsync("_PoweredBy", 2)
            </div>
        </div>
    </div>
    <div class="mobile-footer d-block d-lg-none d-none">
        <nav class="navbar p-0">
            <div class="menu px-0" id="menu">
                <ul class="menu-list p-0 mb-0">
                    <li class="menu-item d-none">
                        <a href="@Url.RouteUrl("home")" class="menu-link is-active">
                            <img src="/assets/img/icons/icon-home-sm.svg" alt="@SharedHtmlLocalizer["Home"]">
                            <span class="menu-name">@SharedHtmlLocalizer["Home"]</span>
                        </a>
                    </li>
                    <li class="menu-item d-none">
                        <a href="#" class="menu-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch">
                            <img src="/assets/img/icons/icon-search-sm.svg" alt="@SharedHtmlLocalizer["Search"]">
                            <span class="menu-name">@SharedHtmlLocalizer["Search"]</span>
                        </a>
                    </li>
                    <li class="menu-item d-none">
                        <a href="javascript:void(0)" id="a-cart" class="menu-link">
                            <img id="img-cart" src="/assets/img/icons/icon-cart-sm-filled.svg" alt="@SharedHtmlLocalizer["ShoppingCart"]">
                            <span class="menu-name">@SharedHtmlLocalizer["ShoppingCart"]</span>
                        </a>
                    </li>
                    <li class="menu-item d-none">
                        <a href="#" class="menu-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount">
                            <img src="/assets/img/icons/icon-profile-sm.svg" alt="@SharedHtmlLocalizer["MyAccount"]">
                            <span class="menu-name">@SharedHtmlLocalizer["MyAccount"]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
