@using Microsoft.AspNetCore.Mvc.Localization
@model Utility.Models.Frontend.Sales.OrderModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using Utility.Enum
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = "_Layout";
}
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("myorders"), Title = SharedHtmlLocalizer["MyOrders"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["OrderDetails"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="order-summary mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["OrderSummary"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.AmountSplitUps)
                            {
                                <li class="list-group-item border-secondary d-flex justify-content-between px-0">
                                    <label class="text-muted">@item.Title</label>
                                    <p class="text-primary mb-0 fw-bold">@item.Value</p>
                                </li>
                            }
                            <li class="list-group-item border-secondary d-flex justify-content-between fs-5 px-0">
                                <label class="text-muted">@SharedHtmlLocalizer["Total"]</label>
                                <p class="text-primary mb-0 fw-bold">
                                    <span class="crossed-out-price text-decoration-line-through text-muted me-2"></span><span class="to-pay-price">@Model.FormattedTotal</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="payment-summary mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PaymentSummary"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <ul class="list-group list-group-flush list-card rounded-top rounded-bottom">
                            @foreach (var item in Model.PaymentSummary)
                            {
                                <li class="list-group-item d-flex justify-content-between border-secondary px-0">
                                    <p class="mb-0 text-muted">@item.Title</p>
                                    <p class="mb-0 text-primary fw-bold text-end ">@item.Value</p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="your-items mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["YourItems"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.OrderItems)
                            {
                                <li class="list-group-item border-0 px-0 py-2">
                                    <div class="d-flex flex-row bg-grey rounded-4 p-2">
                                        <img src="@item.Product.ImageUrl" class="me-3 rounded-3" alt="product-image" height="75">
                                        <div class="d-flex flex-column me-auto w-100">
                                            <a href="@item.Product.DetailsUrl" class="mb-0 fw-bold">@item.Product.Title</a>
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="w-auto py-1 me-2">
                                                        <label class="text-muted" for="">@SharedHtmlLocalizer["Quantity"]</label>
                                                        <p class="text-primary fw-bold fs-51 mb-0">@item.Quantity</p>
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="w-auto py-1 me-2">
                                                        <label class="text-muted" for="">@SharedHtmlLocalizer["Total"]</label>
                                                        <p class="text-primary fw-bold fs-51 mb-0">@item.FormattedTotal</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_DeliveryDetails", Model.Address);
            <div class="col-12 col-md-6">
                <div class=" mb-4">
                    <h4 class="text-primary fw-bold mb-3"></h4>
                    <div class="col-12 mb-2 mb-md-0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" id="a-reorder" class="btn rounded-pill btn-secondary text-light ms-1">@SharedHtmlLocalizer["Reorder"]</a>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(document).ready(function () {
        $("#a-reorder").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("reorder", new { id=Model.Id })", function (result) {
                if (result.success && result.data) {
                    updateCartCount();
                    $("#a-cart").css("cursor", "pointer");
                    $("#a-cart").trigger("click")
                }
            });
        });
    });
</script>


