@using Microsoft.AspNetCore.Mvc.Localization
@model Utility.Models.Frontend.Sales.OrderModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = "_Layout";

    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = Url.RouteUrl("myorders"), Title = SharedHtmlLocalizer["MyOrders"].Value });
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["OrderDetails"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        @await Html.PartialAsync("_OrderDetails", Model)
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" id="a-reorder" class="btn rounded-pill btn-secondary text-light ms-1">@SharedHtmlLocalizer["Reorder"]</a>
                <a href="#" id="a-print" class="btn rounded-pill btn-primary text-light ms-1">@SharedHtmlLocalizer["Print"]</a>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(document).ready(function () {
        $("#a-reorder").click(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl("reorder", new { id=Model.Id })", function (result) {
                if (result.success && result.data) {
                    updateCartCount();
                    $("#a-cart").css("cursor", "pointer");
                    $("#a-cart").trigger("click")
                }
                else {
                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });
        });

        $("#a-print").click(function (event) {
            event.preventDefault();
            showCoverSpin();
            $.get("@Url.RouteUrl("printorder", new { id = Model.Id })", function (result) {
                hideCoverSpin();
                if (result.success && result.data) {
                    //window.location.href = result.data;
                    window.open(result.data, "_blank");
                }
                else {
                    if (result.messageCode == 401) {
                        var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                        window.location.href = "/login?returnUrl=" + returnUrl;
                        return;
                    }

                    if (result.message != "")
                        ToastAlert('error', '', result.message);
                }
            });

            return false;
        });
    });
</script>


