@using Microsoft.AspNetCore.Mvc.Localization
@model Utility.Models.Frontend.Sales.OrderModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = "_LayoutReceipt";
}
<section class="main-content py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="order-summary mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["OrderDetails"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.OrderDetails)
                            {
                                <li class="list-group-item border-secondary d-flex justify-content-between px-0">
                                    <label class="text-muted">@item.Title</label>
                                    <p class="text-primary mb-0 fw-bold">@item.Value</p>
                                </li>
                            }
                            <li class="list-group-item border-secondary d-flex justify-content-between fs-5 px-0">
                                <label class="text-primary fw-bold text-uppercase">@SharedHtmlLocalizer["Total"]</label>
                                <p class="text-primary mb-0 fw-bold">
                                    <span class="crossed-out-price text-decoration-line-through text-muted me-2"></span><span class="to-pay-price">@Model.FormattedTotal</span>
                                </p>
                            </li>
                            @foreach (var item in Model.OrderItems)
                            {
                                <li class="list-group-item border-0 px-0 py-2">
                                    <div class="d-flex flex-row bg-grey rounded-4 p-2">
                                        <img src="@item.Product.ImageUrl" class="me-3 rounded-3" alt="product-image" height="75">
                                        <div class="d-flex flex-column me-auto w-100 text-end">
                                            <a href="@item.Product.DetailsUrl" class="mb-0 fw-bold">@item.Product.Title</a>
                                            <div class="row">
                                                <div class="col-12 text-end">
                                                    <div class="w-auto py-1 me-2">
                                                        <label class="text-muted" for="">@SharedHtmlLocalizer["Quantity"]</label>
                                                        <p class="text-primary fw-bold fs-51 mb-0">@item.Quantity</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="payment-summary mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["PaymentDetails"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <ul class="list-group list-group-flush list-card rounded-top rounded-bottom">
                            @foreach (var item in Model.PaymentSummary)
                            {
                                <li class="list-group-item d-flex justify-content-between border-secondary px-0">
                                    <p class="mb-0 text-muted">@item.Title</p>
                                    <p class="mb-0 text-primary fw-bold text-end ">@item.Value</p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="delivery-details mb-4">
                    <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["DeliveryDetails"]</h4>
                    <div class="bg-grey row rounded-4 p-3 mx-0">
                        <div class="inputGroup h-100 rounded-4 bg-grey d-flex flex-column justify-content-start align-items-start">
                            <p class="address-name card-text mb-0 fw-bold">@SharedHtmlLocalizer["DeliveryAddress"]</p>
                            <p class="address-name card-text mb-0 fw-bold text-primary">@Model.Address.Name</p>
                            <p class="address-content card-text mb-0">
                                @Model.Address.AddressText<br>
                            </p>
                        </div>
                        <div class="inputGroup h-100 rounded-4 bg-grey d-flex flex-column justify-content-start align-items-start p-3">
                            <p class="address-name card-text mb-0 fw-bold">@SharedHtmlLocalizer["DeliveryDate"]</p>
                            <p class="address-content card-text mb-0">
                                @Model.EstimatedDeliveryWithoutHeading<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" mb-4">
                    <h4 class="text-primary fw-bold mb-3"></h4>
                    <div class="col-12 mb-2 mb-md-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>