<header class="page-header">
    <h2>@SharedHtmlLocalizer["BundledProducts"]</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            
        </ol>
         
    </div>
</header>
<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["BundledProducts"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">
                    <button class="btn btn-primary btn-sm " onclick="window.location = '/Product/BundledProductAddEdit?id=0';">@SharedHtmlLocalizer["AddNewBundledProduct"]</button>

                </div>
            </header>
            <div class="card-body ">
                <table class="table border-secondary align-middle mb-0 mobile-optimised datatable-default-" id="datatable-default-">
                    <thead>
                        <tr>
                            <th data-priority="10" class="">@SharedHtmlLocalizer["ID"]</th>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["DisplayOrder"]</th>
                            <th data-priority="2" class="">@SharedHtmlLocalizer["Status"]</th>
                            <th data-priority="3" class="">@SharedHtmlLocalizer["Image"]</th>
                            <th data-priority="4" class="">@SharedHtmlLocalizer["TitleEn"]</th>
                            <th data-priority="5" class="">@SharedHtmlLocalizer["TitleAr"]</th>
                            <th data-priority="6" class="">@SharedHtmlLocalizer["Contents"]</th>
                            <th data-priority="7" class="text-center">@SharedHtmlLocalizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody class="border-secondary">
                        
                    </tbody>
                </table>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>



<!-- end: page -->
<script src="~/developer/js/Product/BundledProduct_Datatable.js" asp-append-version="true"></script>