@model Data.Common.BaseEntityId
<header class="page-header">
    <h2>@(@Model.Id > 0 ? "Edit Category - " + @Model.Id : @SharedHtmlLocalizer["NewCategory"].Value)</h2>
    <input type="hidden" value="@Model.Id" id="Id" />
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["CategoryDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">
                </div>
            </header>
            <div class="card-body ">
                <form method="post" id="dataForm" name="dataForm" enctype="multipart/form-data">
                    @await Html.PartialAsync("_FormHiddenFieldsPartial")
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <!-- ========== Start Simple Input Field ========== -->
                                <label for="nameEn" class="form-label">@SharedHtmlLocalizer["CategoryNameEn"]<span class=" text-danger">*</span></label>
                                <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="nameEn" id="nameEn" aria-describedby="@SharedHtmlLocalizer["CategoryNameEn"]" placeholder="" value="" required>
                                <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterCategoryName"]</div>
                                <!-- ========== End Simple Input Field ========== -->
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <!-- ========== Start Simple Input Field ========== -->
                                <label for="nameAr" class="form-label">@SharedHtmlLocalizer["CategoryNameAr"]<span class=" text-danger">*</span></label>
                                <input type="text" dir="rtl" class="form-control form-control-lg rounded-4 border-secondary " name="nameAr" id="nameAr" aria-describedby="@SharedHtmlLocalizer["CategoryNameAr"]" placeholder="" value="" required>
                                <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterCategoryName"]</div>
                                <!-- ========== End Simple Input Field ========== -->
                            </div>
                            <!-- new modification -->
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategoryBannerDesktop"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileDesktop" name="imageFileDesktop">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose2048X400"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose2048X400"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.1.jpg" class="img-fluid preview-image-1" id="imagePreviewDesktop" name="imagePreviewDesktop">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileDesktop").change(function (event) {
                                            var image = document.getElementById('imagePreviewDesktop');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategoryBannerMobile"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileMobile" name="imageFileMobile">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose2048X600"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose2048X600"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.jpg" class="img-fluid preview-image-2" id="imagePreviewMobile" name="imagePreviewMobile">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileMobile").change(function (event) {
                                            var image = document.getElementById('imagePreviewMobile');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>



                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategoryBannerDesktopAr"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileDesktopAr" name="imageFileDesktopAr">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose2048X400"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose2048X400"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.1.jpg" class="img-fluid preview-image-1" id="imagePreviewDesktopAr" name="imagePreviewDesktopAr">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileDesktopAr").change(function (event) {
                                            var image = document.getElementById('imagePreviewDesktopAr');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategoryBannerMobileAr"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileMobileAr" name="imageFileMobileAr">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose2048X600"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose2048X600"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.jpg" class="img-fluid preview-image-2" id="imagePreviewMobileAr" name="imagePreviewMobileAr">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileMobileAr").change(function (event) {
                                            var image = document.getElementById('imagePreviewMobileAr');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <!-- for mobile app icon-->
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategoryNormalIconForMobileApp"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileNormalIcon" name="imageFileNormalIcon">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose100X100"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose100X100"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.1.jpg" class="img-fluid preview-image-1" id="imagePreviewNormalIcon" name="imagePreviewNormalIcon">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileNormalIcon").change(function (event) {
                                            var image = document.getElementById('imagePreviewNormalIcon');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["CategorySelectedIconForMobileApp"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFileSelectedIcon" name="imageFileSelectedIcon">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose100X100"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose100X100"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="assets/img/category-banner/1.jpg" class="img-fluid preview-image-2" id="imagePreviewSelectedIcon" name="imagePreviewSelectedIcon">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFileSelectedIcon").change(function (event) {
                                            var image = document.getElementById('imagePreviewSelectedIcon');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <!--end new modification-->
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="row">
                                    <!-- ========== Start Simple Image Upload Block ========== -->
                                    <div class="row">
                                        <div class="col-10 mb-3">
                                            <label for="formFile" class="form-label">@SharedHtmlLocalizer["UploadImage"]<span class=" text-danger">*</span></label>
                                            <input class="form-control form-control-lg border-secondary rounded-4" type="file" id="imageFile" name="imageFile">
                                            <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose100X100"]</small>
                                            <div class="invalid-feedback">
                                                @SharedHtmlLocalizer["ConsistencyPurpose100X100"]
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/assets/img/general-placeholder.png" class="img-fluid preview-image-" id="imagePreview" name="imagePreview">
                                            <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                        </div>
                                    </div>
                                    <script>
                                        $("#imageFile").change(function (event) {
                                            var image = document.getElementById('imagePreview');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        });
                                    </script>
                                    <!-- ========== End Simple Image Upload Block ========== -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <!-- ========== Start Select2 Field Block ========== -->
                                <label for="productTypeList" class="form-label">@SharedHtmlLocalizer["ProductType"]<span class=" text-danger">*</span></label>
                                <select data-plugin-selectTwo class="form-select form-select-lg rounded-4 border-secondary"
                                        name="productTypeList" id="productTypeList" data-plugin-options='{ "placeholder": "", "allowClear": true}'>
                                    <option value="1">@SharedHtmlLocalizer["BaseProducts"]</option>
                                    <option value="3">@SharedHtmlLocalizer["Subscription"]</option>
                                </select>
                                <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseSelectACategory"]</div>
                                <!-- ========== End Select2 Field Block ========== -->
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button id="btnSave" class="btn btn-primary btn-lg save-btn fw-bold">@SharedHtmlLocalizer["Save"]</button>
                            <button type="button" class="btn btn-warning" onclick="history.go(-1)">@SharedHtmlLocalizer["Back"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>

<script src="~/developer/js/Product/Category_CRUD.js" asp-append-version="true"></script>

