@model Data.Common.BaseEntityId
<header class="page-header">
    <h2> @(@Model.Id > 0 ? @SharedHtmlLocalizer["EditBaseProduct"].Value : @SharedHtmlLocalizer["NewBaseProduct"].Value)  </h2>
    <input type="hidden" value="@Model.Id" id="Id" />
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["BaseProductDetails"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">
                </div>
            </header>
            <div class="card-body ">
                <form method="post" id="dataForm" name="dataForm" enctype="multipart/form-data">
                    @await Html.PartialAsync("_FormHiddenFieldsPartial")

                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->
                            <label for="nameEn" class="form-label">@SharedHtmlLocalizer["TitleEn"]<span class=" text-danger">*</span></label>
                            <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="nameEn" id="nameEn" aria-describedby="@SharedHtmlLocalizer["TitleEn"]" placeholder="" value="" required>
                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterProductName"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="nameAr" class="form-label">@SharedHtmlLocalizer["TitleAr"]<span class=" text-danger">*</span></label>
                            <input type="text" dir="rtl" class="form-control form-control-lg rounded-4 border-secondary " name="nameAr" id="nameAr" aria-describedby="@SharedHtmlLocalizer["TitleAr"]" placeholder="" value="" required>
                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterProductName"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Text Area ========== -->
                            <label for="descriptionEn" class="form-label ">@SharedHtmlLocalizer["DescriptionEn"]<span class=" text-danger">*</span></label>
                            <textarea class="form-control form-control-lg rounded-4 border-secondary " name="descriptionEn" id="descriptionEn" aria-describedby="@SharedHtmlLocalizer["DescriptionEn"]" placeholder="" rows="3" required></textarea>
                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterProductDescription"]</div>
                            <!-- ========== End Simple Text Area ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Text Area ========== -->
                            <label for="descriptionAr" class="form-label ">@SharedHtmlLocalizer["DescriptionAr"]<span class=" text-danger">*</span></label>
                            <textarea dir="rtl" class="form-control form-control-lg rounded-4 border-secondary " name="descriptionAr" id="descriptionAr" aria-describedby="@SharedHtmlLocalizer["DescriptionAr"]" placeholder="" rows="3" required></textarea>
                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterProductDescription"]</div>
                            <!-- ========== End Simple Text Area ========== -->
                        </div>
                        <div class="col-12 my-3">
                            <h2 class="card-title text-primary">@SharedHtmlLocalizer["ProductAttributes"]</h2>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="piecesPerPacking" class="form-label">@SharedHtmlLocalizer["PiecesPerPacking"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="piecesPerPacking" id="piecesPerPacking" aria-describedby="@SharedHtmlLocalizer["PiecesPerPacking"]" placeholder="" value="0" required>

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterValue"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Select2 Field Block ========== -->
                            <label for="itemSizeList" class="form-label">@SharedHtmlLocalizer["ItemSize"]<span class=" text-danger">*</span></label>
                            <select data-plugin-selectTwo class="form-select form-select-lg rounded-4 border-secondary" name="itemSizeList" id="itemSizeList" data-plugin-options='{ "placeholder": "", "allowClear": true}' required>
                            </select>
                            <small class="form-text text-muted">@SharedHtmlLocalizer["YouCanDefineNewSizesByGoingToProducts"] <a href='/prodcut/itemSizeAddEdit?id=0'>@SharedHtmlLocalizer["ItemSizes"]</a></small>
                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseSelectValue"]</div>
                            <!-- ========== End Select2 Field Block ========== -->
                        </div>

                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->
                            <label for="stock" class="form-label">@SharedHtmlLocalizer["Stock"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="stock" id="stock" aria-describedby="@SharedHtmlLocalizer["Stock"]" placeholder="@SharedHtmlLocalizer["ProductStock"]" value="0">

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTheProductStock"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <!-- ========== Start Select2 Field Block ========== -->
                            <label for="categoryList" class="form-label">@SharedHtmlLocalizer["Category"]<span class=" text-danger">*</span></label>
                            <select data-plugin-selectTwo class="form-select form-select-lg rounded-4 border-secondary" name="categoryList" id="categoryList" data-plugin-options='{ "placeholder": "", "allowClear": true}'>
                            </select>

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseSelectCategory"]</div>
                            <!-- ========== End Select2 Field Block ========== -->
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="row">
                                <!-- ========== Start Simple Image Upload Block ========== -->
                                <div class="row">
                                    <div class="col-10 mb-3">
                                        <label for="imageFile" class="form-label">@SharedHtmlLocalizer["UploadImage"]<span class=" text-danger">*</span></label>
                                        <input class="form-control form-control-lg border-secondary rounded-4" type="file" name="imageFile" id="imageFile">
                                        <small class="form-text text-muted">@SharedHtmlLocalizer["ConsistencyPurpose640X640"]</small>
                                        <div class="invalid-feedback">
                                            @SharedHtmlLocalizer["ConsistencyPurpose640X640"]
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                        <img src="/assets/img/products/10_kd_p_2_free.jpg" class="img-fluid preview-image-" name="imagePreview" id="imagePreview">
                                        <p class="text-muted text-center mb-1 mt-2">@SharedHtmlLocalizer["Preview"]</p>
                                    </div>
                                </div>

                                <!-- ========== End Simple Image Upload Block ========== -->
                            </div>
                        </div>
                        <div class="col-12 my-3">
                            <h2 class="card-title text-primary">@SharedHtmlLocalizer["PricingB2C"]</h2>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="price" class="form-label">@SharedHtmlLocalizer["PriceKWD"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="price" id="price" aria-describedby="@SharedHtmlLocalizer["PriceKWD"]" placeholder="@SharedHtmlLocalizer["ProductPrice"]" min="0">

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTheProductPrice"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="discountedPrice" class="form-label">@SharedHtmlLocalizer["DiscountedPriceKWD"]</label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="discountedPrice" id="discountedPrice" aria-describedby="@SharedHtmlLocalizer["DiscountedPriceKWD"]" placeholder="@SharedHtmlLocalizer["DiscountedProductPrice"]" min="0">

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTheProductPrice"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <!-- ========== Start Datepicker Field ========== -->
                            <label for="discountedPriceDateRange" class="form-label">@SharedHtmlLocalizer["DiscountDuration"]</label>
                            <div class="input-daterange input-group rounded-4" data-plugin-datepicker>
                                <span class="input-group-text rounded-4 border border-secondary">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="discountFromDate" id="discountFromDate" aria-describedby="" placeholder="">


                                <!-- ========== End Simple Input Field ========== -->
                                <span class="input-group-text border-start-0 border-end-0 border-secondary rounded-0">
                                    @SharedHtmlLocalizer["To"]
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="discountToDate" id="discountToDate" aria-describedby="" placeholder="">


                                <!-- ========== End Simple Input Field ========== -->
                            </div>
                            <!-- ========== End Datepicker Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="Quantity" class="form-label">
                                @SharedHtmlLocalizer["MinCartQuantity"]<span class=" text - danger">*</span></label>
                                <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="MinCartQuantity" id="MinCartQuantity" aria-describedby="@SharedHtmlLocalizer["MinCartQuantity"]" placeholder="@SharedHtmlLocalizer["MinCartQuantity"]" value="0" required>

                                <div class="invalid-feedback"> @SharedHtmlLocalizer["PleaseMinmumCartQuantity"]</div>
                                <!-- ========== End Simple Input Field ========== -->
</div>
                        <div class="col-12 col-lg-4 mb-3">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="Quantity" class="form-label">
                                @SharedHtmlLocalizer["MaxCartQuantity"]<span class=" text - danger">*</span></label>
                                <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="MaxCartQuantity" id="MaxCartQuantity" aria-describedby="@SharedHtmlLocalizer["MaxCartQuantity"]" placeholder="@SharedHtmlLocalizer["MaxCartQuantity"]" value="0" required>

                                <div class="invalid-feedback"> @SharedHtmlLocalizer["PleaseMaximumCartQuantity"]</div>
                                <!-- ========== End Simple Input Field ========== -->
</div>

                        <div class="col-12 my-3">
                            <!-- ========== Start ios7 Switch ========== -->

                            <div class="switch switch-sm switch-primary my-0  enablePricingB2B-switch">
                                <label for="">@SharedHtmlLocalizer["EnableB2BPricing"]</label>
                                <input type="checkbox" name="b2BPriceEnabled" id="b2BPriceEnabled" data-plugin-ios-switch />
                            </div>
                            <!-- ========== End ios7 Switch ========== -->
                            <!-- ========== Start ios7 Switch Conditional Script ========== -->
                            <!-- ========== End ios7 Switch Conditional Script ========== -->
                        </div>

                        <div class="col-12 my-3 enablePricingB2B" style="display: none;">
                            <h2 class="card-title text-primary">@SharedHtmlLocalizer["PricingB2B"]</h2>
                        </div>
                        <div class="col-12 col-lg-4 mb-3 enablePricingB2B" style="display: none;">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="normalPriceB2B" class="form-label">@SharedHtmlLocalizer["PriceKWD"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="b2BPrice" id="b2BPrice" aria-describedby="@SharedHtmlLocalizer["PriceKWD"]" placeholder="@SharedHtmlLocalizer["B2BPrice"]" min="0">

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTheProductPrice"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3 enablePricingB2B" style="display: none;">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="b2BDiscountedPrice" class="form-label">@SharedHtmlLocalizer["DiscountedPriceKWD"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="b2BDiscountedPrice" id="b2BDiscountedPrice" aria-describedby="@SharedHtmlLocalizer["DiscountedPriceKWD"]" placeholder="@SharedHtmlLocalizer["B2BDiscount"]" min="0">

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseEnterTheProductPrice"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3 enablePricingB2B" style="display: none;">
                            <!-- ========== Start Datepicker Field ========== -->
                            <label for="discountedPriceDateRange" class="form-label">@SharedHtmlLocalizer["DiscountDuration"]</label>
                            <div class="input-daterange input-group rounded-4" data-plugin-datepicker>
                                <span class="input-group-text rounded-4 border border-secondary">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="b2BDiscountFromDate" id="b2BDiscountFromDate" aria-describedby="" placeholder="" value="">


                                <!-- ========== End Simple Input Field ========== -->
                                <span class="input-group-text border-start-0 border-end-0 border-secondary rounded-0">
                                    @SharedHtmlLocalizer["To"]
                                </span>
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="b2BDiscountToDate" id="b2BDiscountToDate" aria-describedby="" placeholder="" value="">


                                <!-- ========== End Simple Input Field ========== -->
                            </div>
                            <!-- ========== End Datepicker Field ========== -->
                        </div>


                        <div class="col-12 col-lg-4 mb-3 enablePricingB2B" style="display: none;">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="Quantity" class="form-label"> @SharedHtmlLocalizer["MinCartQuantity"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="B2BMinCartQuantity" id="B2BMinCartQuantity" aria-describedby="@SharedHtmlLocalizer["MinCartQuantity"]" placeholder="@SharedHtmlLocalizer["MinCartQuantity"]" value="0" required>

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseMinmumCartQuantity"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <div class="col-12 col-lg-4 mb-3 enablePricingB2B" style="display: none;">
                            <!-- ========== Start Simple Input Field ========== -->

                            <label for="Quantity" class="form-label"> @SharedHtmlLocalizer["MaxCartQuantity"]<span class=" text-danger">*</span></label>
                            <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="B2BMaxCartQuantity" id="B2BMaxCartQuantity" aria-describedby="@SharedHtmlLocalizer["MaxCartQuantity"]" placeholder="@SharedHtmlLocalizer["MaxCartQuantity"]" value="0" required>

                            <div class="invalid-feedback">@SharedHtmlLocalizer["PleaseMaximumCartQuantity"]</div>
                            <!-- ========== End Simple Input Field ========== -->
                        </div>

                    </div>



                    <div class="row mt-3">
                        <div class="col-12">
                            <button id="btnSave" class="btn btn-primary btn-lg save-btn fw-bold">@SharedHtmlLocalizer["Save"]</button>
                            <button type="button" class="btn btn-warning" onclick="history.go(-1)">@SharedHtmlLocalizer["Back"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
       
<!-- ========== End Card Block ========== -->
<!-- ========== Start Card Block ========== -->
<section class="card mb-3 border border-secondary">
    <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
        <h2 class="card-title text-primary">@SharedHtmlLocalizer["StockHistory"]</h2>
        <div class="card-actions d-flex position-static top-0 end-0">

        </div>
    </header>
    <div class="card-body ">
        <div class="row">
            <div class="col-12 col-lg-12 mb-3">

                <div class="d-flex mb-3">
                    <div class="body-bg-primary py-1 px-3 rounded-pill me-2">
                        @SharedHtmlLocalizer["AutomaticDeduction"]
                    </div>
                    <div class="body-bg-warning py-1 px-3 rounded-pill me-2">
                        @SharedHtmlLocalizer["ManualAdjustment"]
                    </div>
                </div>

                <table class="table border-secondary align-middle mb-0 mobile-optimised datatable-default-" id="datatable-default-productEdit">
                    <thead>
                        <tr>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["UpdateType"]</th>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["OlderStock"]</th>
                            <th data-priority="2" class="">@SharedHtmlLocalizer["Actions"]</th>
                            <th data-priority="3" class="">@SharedHtmlLocalizer["Input"]</th>
                            <th data-priority="4" class="">@SharedHtmlLocalizer["UpdatedStock"]</th>
                            <th data-priority="5" class="">@SharedHtmlLocalizer["UpdatedBy"]</th>
                            <th data-priority="6" class="">@SharedHtmlLocalizer["UpdateDate"]</th>
                            <th data-priority="7" class="">@SharedHtmlLocalizer["Notes"]</th>
                        </tr>
                    </thead>
                    <tbody class="border-secondary">
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</section>
<!-- ========== End Card Block ========== -->
    </div>
</div>

<script src="~/developer/js/Product/Product_CRUD.js" asp-append-version="true"></script>


 