@model DriverDeliverySummaryModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="page-header">
    <h2>@SharedHtmlLocalizer["DeliveriesToday"]</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

        </ol>

    </div>
</header>

<div class="row">

    <div class="col-12 col-lg-4">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-success">
                <h2 class="card-title text-light text-center w-100">
                    <i class='fa-solid fa-truck me-2'></i> @SharedHtmlLocalizer["DeliveriesDueToday"]
                </h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold" id="deliveriesDueToday">@Model.Pending</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>

    <div class="col-12 col-lg-4">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-info">
                <h2 class="card-title text-center text-light w-100"><i class='fa-solid fa-cube me-2'></i> @SharedHtmlLocalizer["OrderDeliveriesToday"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold" id="orderDeliveriesToday">@Model.Completed</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>

    <div class="col-12 col-lg-4" style="display:none">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-warning">
                <h2 class="card-title text-center text-light w-100"><i class='fa-solid fa-cubes me-2'></i> @SharedHtmlLocalizer["SubscriptionDeliveriesToday"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold" id="subscriptionDeliveriesToday">8</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>
</div>

<div class="row pt-0">
    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["DeliveryList"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="d-flex mb-3">
                    <div class="body-bg-primary py-1 px-3 rounded-pill me-2">
                        @SharedHtmlLocalizer["Subscription"]
                    </div>
                    <div class="body-bg-warning py-1 px-3 rounded-pill me-2">
                        @SharedHtmlLocalizer["NormalOrder"]
                    </div>
                </div>
                <!-- ========== Start Table Block ========== -->
                <table class="table border-secondary align-middle mobile-optimised datatable-default-" id="datatable-default-">
                    <thead>
                        <tr>
                            <th data-priority="0" class=""></th>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["OrderID"]</th>
                            <th data-priority="2" class="">@SharedHtmlLocalizer["OrderDate"]</th>
                            <th data-priority="2" class="">Delivery Date</th>
                            <th data-priority="1" class="">Order Mode</th>
                            <th data-priority="1" class="">Order Type</th>
                            <th data-priority="3" class="">Area</th>
                            <th data-priority="4" class="">Name</th>
                            <th data-priority="4" class="">Mobile</th>
                            <th data-priority="4" class="">Delivery Fee</th>
                            <th data-priority="4" class="">Total Amount (KWD)</th>
                            <th data-priority="4" class="">Driver</th>
                            <th data-priority="5" class="">Payment Status</th>
                            <th data-priority="5" class="">Delivery Status</th>
                            <th data-priority="6" class="text-center">Actions</th>

                        </tr>

                     
                    </thead>
                    <tbody class="border-secondary">
                        
                    </tbody>
                </table>

                <!-- ========== End Table Block ========== -->
            </div>
        </section>
        <!-- ========== End Card Block ========== -->

    </div>
</div>

<script src="~/developer/js/Driver/DriverDashboard_Datatable.js" asp-append-version="true"></script>
@await Html.PartialAsync("_SendPaymentLinkModalPartial")
@await Html.PartialAsync("_ConfrimDeliveryModalPartial")
@await Html.PartialAsync("_RescheduleDeliveryModalPartial")