@model IList<Utility.Models.Frontend.Content.BannerModel>
<section class="body-bg-secondary mt-3 mt-lg-0 pt-4 pt-lg-0 mb-3 mb-md-3">
    <div class="container mt-3 mt-lg-0">
        <div class="row">
            <div class="col-12 px-0">
                <div class="slider main_banner rounded-5 py-3 py-lg-0 mb-0">
                    @foreach (var item in Model)
                    {
                        if (item.LinkEnabled)
                        {
                            if (item.LinkType == BannerLinkType.URL)
                            {
                                if (item.DeviceDependent)
                                {
                                    <a onclick="return redirectToSpecificDevice('@item.LinkUrl');" href="#" class="rounded-5 mx-3 my-2 m-md-3">
                                        <img src="@item.ImageUrl" class="img-fluid rounded-5">
                                    </a>
                                }
                                else
                                {
                                    <a href="@item.LinkUrl" class="rounded-5 mx-3 my-2 m-md-3">
                                        <img src="@item.ImageUrl" class="img-fluid rounded-5">
                                    </a>
                                }
                            }
                            else if (item.LinkType == BannerLinkType.Product)
                            {
                                <a href="@Url.RouteUrl("productdetails", new { catName = item.CategorySeoName, seoName = item.ProductSeoName })" class="rounded-5 mx-3 my-2 m-md-3">
                                    <img src="@item.ImageUrl" class="img-fluid rounded-5">
                                </a>
                            }
                        }
                        else
                        {
                            <a href="#" class="rounded-5 mx-3 my-2 m-md-3" style="pointer-events: none; cursor: default;">
                                <img src="@item.ImageUrl" class="img-fluid rounded-5">
                            </a>
                        }
                    }
                </div>
                <script src="~/assets/vendor/js/slick.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('.main_banner').slick({
                            rtl: false,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: true,
                            //swipeToSlide: true,
                            // centerPadding: '40px',
                            //   variableWidth: false,
                            dots: true,
                            arrows: false,
                            autoplay: true,
                            autoplaySpeed: 2000,
                            responsive: [
                                {
                                    breakpoint: 480,
                                    settings: {
                                        centerMode: false
                                    }
                                },
                                {
                                    breakpoint: 1367,
                                    settings: {
                                        centerPadding: 'calc(100vw - 1175px)',
                                    }
                                }
                            ]
                        });

                        if ($('html').attr('dir') == 'rtl') {
                            $('.main_banner').slick('slickSetOption', 'rtl', true, false);
                        }
                    });

                    function redirectToSpecificDevice(url) {
                        var ua = navigator.userAgent;
                        var checker = {
                            // OS
                            Windows: ua.match(/Windows/),
                            MacOS: ua.match(/Mac/),
                            Android: ua.match(/Android/),
                            // Browser
                            Msie: ua.match(/Trident/),
                            Edge: ua.match(/Edge/),
                            Chrome: ua.match(/Chrome/),
                            Firefox: ua.match(/Firefox/),
                            Safari: ua.match(/Safari/),
                            // Device
                            isApple: ua.match(/(iPhone|iPod|iPad)/),
                            iPhone: ua.match(/iPhone/),
                            iPad: ua.match(/iPad/),
                            iPod: ua.match(/iPod/)
                        };
                        
                        if (checker.iPhone || checker.iPad || checker.iPod) {
                            url = $("#appSoreLink").attr("href");
                            window.open(url, "_blank");
                        }
                        else if (checker.Android) {
                            url = $("#playStoreLink").attr("href");
                            window.open(url, "_blank");
                        }
                        else {
                            window.open(url, "_blank");
                        }

                        return false;
                    }
                </script>
            </div>
        </div>
    </div>
</section>
