<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("myprofile")">@SharedHtmlLocalizer["MyProfile"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("myorders")">@SharedHtmlLocalizer["MyOrders"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("mysubscriptions")">@SharedHtmlLocalizer["MySubscriptions"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("myaddresses")">@SharedHtmlLocalizer["MyAddresses"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("favoriteproducts")">@SharedHtmlLocalizer["MyFavorites"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("mywallet")">@SharedHtmlLocalizer["MyWallet"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("mycashback")">@SharedHtmlLocalizer["MyCashback"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("mynotifications")">@SharedHtmlLocalizer["MyNotifications"]</a></li>
<li>
    <hr class="dropdown-divider body-bg-secondary border-secondary my-0">
</li>
<li><a class="dropdown-item my-1 rounded-3 fs-6" href="@Url.RouteUrl("login")">@SharedHtmlLocalizer["SignOut"]</a></li>