@model List<Utility.Models.Frontend.Sales.OrderModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@foreach (var item in Model)
{
    <div class="bg-grey row rounded-4 p-3 mx-0 mb-3">
        <a href="@Url.RouteUrl("orderdetails",new { orderNumber=item.OrderNumber })">
            <div class="row">
                <div class="col-11">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6">
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["OrderID"]</p>
                            <p class="mb-0 text-dark">@item.OrderNumber</p>
                        </div>
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["OrderDate"]</p>
                            <p class="mb-0 text-dark">@item.FormattedDate</p>
                        </div>
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["OrderTime"]</p>
                            <p class="mb-0 text-dark">@item.FormattedTime</p>
                        </div>
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["PaymentMethod"]</p>
                            <p class="mb-0 text-dark">@item.PaymentMethod.Name</p>
                        </div>
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-1 fw-bold">@SharedHtmlLocalizer["Status"]</p>
                            <span class="mb-0 text-light py-0 px-2 rounded-pill bg-success">@item.OrderStatusName</span>
                        </div>
                        <div class="col mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["OrderAmount"]</p>
                            <p class="mb-0 text-dark">@item.FormattedTotal</p>
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-end pb-3 pb-xl-0">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
        </a>
    </div>
}