@model Utility.Models.Frontend.ProductManagement.ProductModel
@{ 
    var productUrl = Url.RouteUrl("productdetails", new { catName = Model.Category.SeoName, seoName = Model.SeoName });
    var isFav = ViewBag.isFav == null ? 0 : ViewBag.isFav;
}
<div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-5" id="product-box-@Model.Id">
    <div class="product-card position-relative h-100 rounded-5 border border-1">
        <a href="javascript:;" class="position-absolute wishlist-btn" style="z-index: 1;" onclick="return addToFavourite(@Model.Id,'@productUrl','@Model.ImageUrl','@Model.Title','@Model.FormattedPrice',@isFav,true);">
            <span class="fa-stack fs-5 fa-1x">
                <i class="fa-solid fa-circle fa-stack-2x text-white"></i>
                <i id="i-add-to-favorite-@Model.Id" class="@(Model.Favorite?"fa-solid":"fa-regular") fa-heart fa-stack-1x"></i>
            </span>
        </a>
        <div class=" d-flex flex-column h-100">
            <div class="position-relative">
                <a href="@Url.RouteUrl("productdetails",new {catName=Model.Category.SeoName,seoName=Model.SeoName })" class="product-url">
                    <img src="@Model.ImageUrl" class="product-image rounded-5 rounded-bottom opacity-100 w-100" alt="">
                </a>
                <div class="position-absolute translate-middle-x bottom-0 start-50" style="z-index: 1;">
                    @if (Model.StockQuantity <= 0)
                    {
                        <div class="out-of-stock text-nowrap bg-danger rounded-4 rounded-bottom w-auto py-1 px-2">
                            <label class="mb-0 fw-bold text-white">@SharedHtmlLocalizer["OutOfStock"]</label>
                        </div>
                    }
                </div>
            </div>
            <div class="p-info rounded-5 rounded-top d-flex flex-column h-100 p-2">
                <div class="p-detail text-center mb-1">
                    <p class="p-name mb-1 text-dark font-title product-name">@Model.Title</p>
                    @if (Model.DiscountedPrice > 0)
                    {
                        @*<p class="text-muted fw-bold mb-0 text-decoration-line-through">@Model.FormattedPrice</p>*@
                        <p class="product-price text-primary fw-bold mb-0">@Model.FormattedDiscountedPrice</p>
                    }
                    else
                    {
                        <p class="product-price text-primary fw-bold mb-0">@Model.FormattedPrice</p>
                    }
                </div>
                <div class="p-action d-flex justify-content-center mt-auto">
                    @if (Model.StockQuantity <= 0)
                    {
                        <button type="button" onclick="notifyProduct(@Model.Id,'@productUrl','@Model.ImageUrl','@Model.Title','@Model.FormattedPrice');" data-bs-toggle="tooltip" data-bs-title="Notify me when this product will be available"
                                class="btn btn-secondary rounded-pill text-white fw-bold w-100 notify-me-btn">
                            <span id="notify-product-@Model.Id">
                                @(Model.Notified ? SharedHtmlLocalizer["DoNotNotifyMe"].Value: SharedHtmlLocalizer["NotifyMe"].Value)
                            </span>
                        </button>
                    }
                    else if (Model.ProductType == ProductType.SubscriptionProduct)
                    {
                        <a href="@Url.RouteUrl("productdetails",new {catName=Model.Category.SeoName,seoName=Model.SeoName })" class="btn btn-primary rounded-pill text-white fw-bold w-100">@SharedHtmlLocalizer["Subscribe"]</a>
                    }
                    else
                    {
                        <button type="button" class="add-to-cart btn btn-primary rounded-pill text-white fw-bold w-100 " onclick="return addToCart(@Model.Id,1);">@SharedHtmlLocalizer["AddToCart"]</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>