@model List<Utility.Models.Frontend.Sales.SubscriptionModel>

@foreach (var item in Model)
{
    <div class="bg-grey row rounded-4 p-3 mx-0 mb-3">
        <a href="@Url.RouteUrl("subscriptiondetails",new { subscriptionNumber=item.SubscriptionNumber })">
            <div class="row">
                <div class="col-11">
                    <div class="row">
                        <div class="col-6 col-md-2 mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["SubscriptionID"]</p>
                            <p class="mb-0 text-dark">@item.SubscriptionNumber</p>
                        </div>
                        <div class="col-6 col-md-2 mb-3 mb-xl-0">
                            <p class="mb-1 fw-bold">@SharedHtmlLocalizer["Status"]</p>
                            <span class="mb-0 bg-success text-light py-0 px-2 rounded-pill">@item.SubscriptionStatusName</span>
                        </div>
                        <div class="col-6 col-md-2 mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["SubscriptionDate"]</p>
                            <p class="mb-0 text-dark">@item.FormattedDate</p>
                        </div>
                        <div class="col-6 col-md-2 mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["SubscriptionAmount"]</p>
                            <p class="mb-0 text-dark">@item.FormattedTotal</p>
                        </div>
                        <div class="col-12 col-md-4 mb-3 mb-xl-0">
                            <p class="mb-0 fw-bold">@SharedHtmlLocalizer["SubscriptionName"]</p>
                            <p class="mb-0 text-dark">@item.SubscriptionTitle</p>
                            <ul class="body-bg-secondary border border-secondary rounded-3 text-muted p-2 m-0">
                                @foreach (var pack in item.SubscriptionPackTitles)
                                {
                                    <li class="d-flex justify-content-between mb-1">
                                        <p class="m-0">@pack.Title</p> <span>@pack.Value</span>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-end pb-3 pb-xl-0">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
        </a>
    </div>
}