<header class="page-header">
    <h2>@SharedHtmlLocalizer["DeliveriesDashboard"]</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

        </ol>

    </div>
</header>
<div class="row">

    <div class="col-12 col-lg-4">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-success">
                <h2 class="card-title text-light text-center w-100"><i class='fa-solid fa-truck me-2'></i> @SharedHtmlLocalizer["DeliveriesDueToday"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold">100</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>

    <div class="col-12 col-lg-4">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-info">
                <h2 class="card-title text-center text-light w-100"><i class='fa-solid fa-cube me-2'></i> @SharedHtmlLocalizer["OrderDeliveriesToday"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold">64</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>

    <div class="col-12 col-lg-4">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-warning">
                <h2 class="card-title text-center text-light w-100"><i class='fa-solid fa-cubes me-2'></i> @SharedHtmlLocalizer["SubscriptionDeliveriesToday"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <h2 class="text-center m-0 fw-bold">36</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>

    <div class="col-12">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["FilterBy"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="OrderID" class="form-label">@SharedHtmlLocalizer["OrderID"]</label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="orderNumber" id="orderNumber" aria-describedby="@SharedHtmlLocalizer["OrderID"]" placeholder="@SharedHtmlLocalizer["EnterOrderID"]" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Datepicker Field ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["DeliveryDate"]</label>
                        <div class="input-group rounded-4">
                            <span class="input-group-text rounded-4 border border-secondary">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <!-- ========== Start Simple Input Field ========== -->


                            <input type="text" data-plugin-datepicker autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary "
                                   name="deliveryDate" id="deliveryDate" aria-describedby="" placeholder="" value="">


                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <!-- ========== End Datepicker Field ========== -->
                    </div>

                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="OrderType" class="form-label">@SharedHtmlLocalizer["OrderMode"]</label>
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="orderModeList" id="orderModeList" aria-describedby="@SharedHtmlLocalizer["OrderMode"]">
                            <option selected value="">All</option>
                            <option value="1">Subscription</option>
                            <option value="2">Normal Orders</option>
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="OrderType" class="form-label">@SharedHtmlLocalizer["OrderType"]</label>
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="orderTypeList" id="orderTypeList" aria-describedby="@SharedHtmlLocalizer["OrderType"]">
                            <option selected value="">All</option>
                            <option value="1">Online</option>
                            <option value="2">Offline</option>
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Select2 Field Block ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["Area"]</label>
                        <select data-plugin-selectTwo class="form-select form-select-lg rounded-4 border-secondary" name="areaList" id="areaList" data-plugin-options='{ "placeholder": "", "allowClear": true}'>
                            <option value=""></option>
                            <option>Ahmadi</option>
                            <option>Farwaniyah</option>
                        </select>


                        <!-- ========== End Select2 Field Block ========== -->
                    </div>
                    <div class="col-12 col-lg-2 mb-3">
                        <!-- ========== Start Select2 Field Block ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["Driver"]</label>
                        <select data-plugin-selectTwo class="form-select form-select-lg rounded-4 border-secondary"
                                name="driverList" id="driverList"
                                data-plugin-options='{ "placeholder": "", "allowClear": true}'>
                        </select>


                        <!-- ========== End Select2 Field Block ========== -->
                    </div>


                    <div class="col-12 mt-3">
                        <a href="#" class="btn btn-lg btn-primary" onclick="searchForDataTable()">@SharedHtmlLocalizer["Search"]</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
    </div>


</div>
<!-- Bulk Actions Code. Temporarily Disabled -->
<div class="row pt-0">
    <div class="col-12">

        <div class="tabs">
            <ul class="nav nav-tabs border-secondary">
                <li class="nav-item active">
                    <a class="nav-link" data-bs-target="#notdispatched" href="#notdispatched" data-bs-toggle="tab">
                        @SharedHtmlLocalizer["NotDispatched"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-target="#dispatched" href="#dispatched" data-bs-toggle="tab">@SharedHtmlLocalizer["Dispatched"]</a>
                </li>
            </ul>
            <div class="tab-content bg-white">
                <div id="notdispatched" class="tab-pane active">
                    <div class="row">
                        <div class="col-12">
                            <!-- ========== Start Card Block ========== -->
                            <section class="card mb-3 border border-secondary bg-secondary" style="display:none">
                                <div class="card-body bg-secondary">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="text-light m-0">@SharedHtmlLocalizer["BulkActions"]</h3>
                                        <div class="input-group w-auto">
                                            <!-- ========== Start Simple Select Field Block ========== -->

                                            <select class="form-select form-select-lg rounded-4 border-secondary"
                                                    name="" id="" aria-describedby="">
                                                <option>Select an action..</option>
                                                <option>Assign Driver to Selected</option>
                                            </select>


                                            <!-- ========== End Simple Select Field Block ========== -->
                                            <button class="btn btn-primary fw-bold rounded-4" type="button">@SharedHtmlLocalizer["PerformAction"]</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- ========== End Card Block ========== -->

                            <div class="d-flex mb-3">
                                <div class="body-bg-primary py-1 px-3 rounded-pill me-2" style="display:none">
                                    @SharedHtmlLocalizer["Subscription"]
                                </div>
                                <div class="body-bg-warning py-1 px-3 rounded-pill me-2">
                                    @SharedHtmlLocalizer["NormalOrder"]
                                </div>
                            </div>
                            <!-- ========== Start Table Block ========== -->
                            <table class="table border-secondary align-middle mobile-optimised notdispatched-datatable-default-" id="notdispatched-datatable-default-">
                                <thead>
                                    <tr>
                                        <th data-priority="0" class=""></th>
                                        <th data-priority="1" class="">@SharedHtmlLocalizer["OrderID"]</th>
                                        <th data-priority="2" class="">@SharedHtmlLocalizer["OrderDate"]</th>
                                        <th data-priority="2" class="">@SharedHtmlLocalizer["DeliveryDate"]</th>
                                        <th data-priority="1" class="">@SharedHtmlLocalizer["OrderType"]</th>
                                        <th data-priority="3" class="">@SharedHtmlLocalizer["Area"]</th>
                                        <th data-priority="4" class="">@SharedHtmlLocalizer["DeliveryFee"]</th>
                                        <th data-priority="4" class="">@SharedHtmlLocalizer["TotalAmountKWD"]</th>
                                        <th data-priority="5" class="">@SharedHtmlLocalizer["Driver"]</th>
                                        <th data-priority="6" class="text-center">@SharedHtmlLocalizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody class="border-secondary">
                                </tbody>
                            </table>

                            <!-- ========== End Table Block ========== -->
                        </div>
                    </div>
                </div>
                <div id="dispatched" class="tab-pane">
                    <div class="row">
                        <div class="col-12">
                            <!-- ========== Start Card Block ========== -->
                            <section class="card mb-3 border border-secondary bg-secondary" style="display:none">
                                <div class="card-body bg-secondary">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="text-light m-0">@SharedHtmlLocalizer["BulkActions"]</h3>
                                        <div class="input-group w-auto">
                                            <!-- ========== Start Simple Select Field Block ========== -->

                                            <select class="form-select form-select-lg rounded-4 border-secondary" name="" id="" aria-describedby="">
                                                <option>Select an action..</option>
                                                <option>Assign Driver to Selected</option>
                                            </select>


                                            <!-- ========== End Simple Select Field Block ========== -->
                                            <button class="btn btn-primary fw-bold rounded-4" type="button">@SharedHtmlLocalizer["PerformAction"]</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- ========== End Card Block ========== -->

                            <div class="d-flex mb-3">
                                <div class="body-bg-primary py-1 px-3 rounded-pill me-2">
                                    @SharedHtmlLocalizer["Subscription"]
                                </div>
                                <div class="body-bg-warning py-1 px-3 rounded-pill me-2">
                                    @SharedHtmlLocalizer["NormalOrder"]
                                </div>
                            </div>

                            <!-- ========== Start Table Block ========== -->
                            <table class="table border-secondary align-middle mobile-optimised dispatched-datatable-default-" id="dispatched-datatable-default-">
                                <thead>
                                    <tr>
                                        <th data-priority="0" class=""></th>
                                        <th data-priority="1" class="">@SharedHtmlLocalizer["OrderID"]</th>
                                        <th data-priority="2" class="">@SharedHtmlLocalizer["OrderDate"]</th>
                                        <th data-priority="2" class="">@SharedHtmlLocalizer["DeliveryDate"]</th>
                                        <th data-priority="1" class="">@SharedHtmlLocalizer["OrderType"]</th>
                                        <th data-priority="3" class="">@SharedHtmlLocalizer["Area"]</th>
                                        <th data-priority="4" class="">@SharedHtmlLocalizer["DeliveryFee"]</th>
                                        <th data-priority="4" class="">@SharedHtmlLocalizer["TotalAmountKWD"]</th>
                                        <th data-priority="5" class="">@SharedHtmlLocalizer["Driver"]</th>
                                        <th data-priority="6" class="text-center">@SharedHtmlLocalizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody class="border-secondary">
                                </tbody>
                            </table>

                            <!-- ========== End Table Block ========== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/developer/js/Delivery/DeliveriesDashboard_Datatable.js" asp-append-version="true"></script>

@await Html.PartialAsync("_DispatchDeliveryModalPartial")
@await Html.PartialAsync("_SendPaymentLinkModalPartial")
@await Html.PartialAsync("_RescheduleDeliveryModalPartial")
@*@await Html.PartialAsync("_OrderCancelModalPartial")*@