<header class="page-header">
    <h2>Payment Links</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

        </ol>

    </div>
</header>
<div class="row">
    <div class="col">
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">Filter By</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="PaymentLinkID" class="form-label">Payment Link ID</label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " 
                               name="paymentLinkID" id="paymentLinkID" aria-describedby="Payment Link ID" placeholder="Enter Payment Link ID" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="CustomerMobile" class="form-label">Customer Mobile Number</label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " 
                               name="customerMobile" id="customerMobile" aria-describedby="Customer Mobile Number" placeholder="Enter customer mobile number" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Datepicker Field ========== -->
                        <label for="" class="form-label">Date Range</label>
                        <div class="input-daterange input-group rounded-4" data-plugin-datepicker>
                            <span class="input-group-text rounded-4 border border-secondary">
                                <i class="fas fa-calendar-alt"></i>
                            </span> 
                            <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " 
                                   name="startDate" id="startDate" aria-describedby="" placeholder="" value="">
                             <span class="input-group-text border-start-0 border-end-0 border-secondary rounded-0">
                                to
                            </span>
                            <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " 
                                   name="endDate" id="endDate" aria-describedby="" placeholder="" value="">
                             
                        </div>
                        <!-- ========== End Datepicker Field ========== -->
                    </div>

                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="PaymentMethod" class="form-label">Payment Method</label>
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="paymentMethodList" id="paymentMethodList" aria-describedby="Payment Method">
                            <option value="" selected>All</option>
                            <option value="@((Int32)PaymentMethod.KNET)">KNET</option>
                            <option value="@((Int32)PaymentMethod.VISAMASTER)">Visa / Mastercard</option>
                            <option value="@((Int32)PaymentMethod.Tabby)">Tabby</option>
                            <option value="@((Int32)PaymentMethod.Cash)">Cash</option>
                            <option value="@((Int32)PaymentMethod.Wallet)">Wallet</option>
                        </select> 
                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-12 mt-3">
                        <a href="#" class="btn btn-lg btn-primary" onclick="searchForDataTable()">Search</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="tabs">
            <ul class="nav nav-tabs border-secondary">
                <li class="nav-item active">
                    <a class="nav-link" data-bs-target="#paid" href="#paid" data-bs-toggle="tab">Paid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-target="#unpaid" href="#unpaid" data-bs-toggle="tab">Unpaid</a>
                </li>
            </ul>
            <div class="tab-content bg-white">
                <div id="paid" class="tab-pane active">
                    <div class="row"> 
                        <div class="col-12">
                            <!-- ========== Start Table Block ========== -->
                            <table class="table border-secondary align-middle mobile-optimised paid-datatable-default-" id="paid-datatable-default-">
                                <thead>
                                    <tr>
                                        <th data-priority="1" class="">Payment Link ID</th>
                                        <th data-priority="2" class="">Transaction Date</th>
                                        <th data-priority="2" class="">Mobile</th>
                                        <th data-priority="2" class="">Total Amount</th>
                                        <th data-priority="2" class="">Payment Result</th>
                                        <th data-priority="3" class="">Track ID</th>
                                        <th data-priority="4" class="">Auth Code</th>
                                        <th data-priority="4" class="">Payment ID</th>
                                        <th data-priority="5" class="">Payment Method</th>
                                        <th data-priority="6" class="">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="border-secondary">
                                     
                                </tbody>
                            </table>

                            <!-- ========== End Table Block ========== -->
                        </div>
                    </div>
                </div>
                <div id="unpaid" class="tab-pane">
                    <div class="row">

                        <div class="col-12">
                            <!-- ========== Start Table Block ========== -->
                            <table class="table border-secondary align-middle mobile-optimised unpaid-datatable-default-" id="unpaid-datatable-default-">
                                <thead>
                                    <tr>
                                        <th data-priority="1" class="">Payment Link ID</th>
                                        <th data-priority="2" class="">Transaction Date</th>
                                        <th data-priority="2" class="">Mobile</th>
                                        <th data-priority="2" class="">Total Amount</th>
                                        <th data-priority="2" class="">Payment Result</th>
                                        <th data-priority="3" class="">Track ID</th>
                                        <th data-priority="4" class="">Auth Code</th>
                                        <th data-priority="4" class="">Payment ID</th>
                                        <th data-priority="5" class="">Payment Method</th>
                                        @*<th data-priority="6" class="">Status</th>*@
                                    </tr>
                                </thead>
                                <tbody class="border-secondary">
                                     
                                </tbody>
                            </table>

                            <!-- ========== End Table Block ========== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
 
<!-- end: page -->
<script src="~/developer/js/PaymentLinks/Payments_Datatable.js" asp-append-version="true"></script>