@model Data.Common.BaseEntityId
<header class="page-header">
    <h2> @(@Model.Id > 0 ? @SharedHtmlLocalizer["EditPermission"] : @SharedHtmlLocalizer["NewPermission"])</h2>
    <input type="hidden" value="@Model.Id" id="Id" />
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>

    </div>
</header>

<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">@SharedHtmlLocalizer["RoleDetails"]</h2>
            </header>
            <div class="card-body">
                <form method="post" id="dataForm" name="dataForm" enctype="multipart/form-data">
                  @await Html.PartialAsync("_FormHiddenFieldsPartial")
                    <div class="row mb-3">
                        <!-- Title -->
                        <div class="mb-3 col-md-4">
                            <label for="title">@SharedHtmlLocalizer["PermissionNameEn"]<span class=" text-danger">*</span></label>
                            <input type="text" class="form-control" name="title" id="title" aria-describedby="@SharedHtmlLocalizer["PermissionNameEn"]" oninput="maxlength(event);" maxlength="50">
                            <span class="characters-used"></span>
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterAPermissionName"]
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="title">@SharedHtmlLocalizer["PermissionNameAr"]<span class=" text-danger">*</span></label>
                            <input type="text" class="form-control" name="title" id="titleAr" aria-describedby="@SharedHtmlLocalizer["PermissionNameAr"]" 
                                   oninput="maxlength(event);" maxlength="50">
                            <span class="characters-used"></span>
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterAPermissionName"]
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="navigationUrl">@SharedHtmlLocalizer["NavigationUrl"]<span class=" text-danger">*</span></label>
                            <input type="text" class="form-control" name="navigationUrl" id="navigationUrl" aria-describedby="@SharedHtmlLocalizer["NavigationUrl"]">
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterANavigationUrl"]
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label for="icon">@SharedHtmlLocalizer["IconName"]<span class=" text-danger">*</span></label>
                            <input type="text" class="form-control" name="icon" id="icon" aria-describedby="@SharedHtmlLocalizer["IconName"]">
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterAnIconName"]
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label for="permissionId">@SharedHtmlLocalizer["PermissionID"]</label>
                            <input type="number" class="form-control" name="permissionId" id="permissionId">
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterAPermissionID"]
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label for="displayOrder">@SharedHtmlLocalizer["DisplayOrder"]</label>
                            <input type="number" class="form-control" name="displayOrder" id="displayOrder" value="0">
                            <div class="invalid-feedback">
                                @SharedHtmlLocalizer["PleaseEnterADisplayOrder"]
                            </div>
                        </div>


                        <div class="mb-3 col-6 col-md-4">
                            <label for="active">@SharedHtmlLocalizer["Status"]</label>
                            <div class="d-flex flex-column justify-content-start mt-2">
                                <div class="switch switch-sm switch-primary">
                                    <input type="checkbox" name="isActive" id="isActive" data-plugin-ios-switch>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12">
                            <button id="btnSave" class="btn btn-primary btn-lg save-btn fw-bold">@SharedHtmlLocalizer["Save"]</button>
                            <button type="button" class="btn btn-warning" onclick="history.go(-1)">@SharedHtmlLocalizer["Back"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div> 
<script src="~/developer/js/systemUserManagement/UserPermission_CRUD.js" asp-append-version="true"></script>
 
