<header class="page-header">
    <h2>@SharedHtmlLocalizer["SystemUserRole"]</h2>
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
        </ol>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col">
        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">@SharedHtmlLocalizer["SystemUserRole"]</h2>
                <div class="card-actions d-flex position-static top-0 end-0">
                    <button class="btn btn-primary btn-sm " onclick="window.location='/systemUserManagement/UserRoleAddEdit';">@SharedHtmlLocalizer["AddNewRole"]</button>
                </div>
            </header>
            <div class="card-body ">
                <!-- ========== Start Table Block ========== -->
                <table class="table border-secondary align-middle mobile-optimised datatable-default-" id="datatable-default-">
                    <thead>
                        <tr>
                            <th data-priority="10" class="">@SharedHtmlLocalizer["ID"]</th>
                            <th data-priority="1" class="">@SharedHtmlLocalizer["Status"]</th>
                            <th data-priority="2" class="">@SharedHtmlLocalizer["RoleName"]</th>
                            <th data-priority="3" class="">@SharedHtmlLocalizer["RegisterationDate"]</th>
                            <th data-priority="5" class="">@SharedHtmlLocalizer["ModifiedDate"]</th>
                            <th data-priority="6" class="text-center">@SharedHtmlLocalizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody class="border-secondary">
                    
                    </tbody>
                </table>

                <!-- ========== End Table Block ========== -->
            </div>
        </section>
       
    </div>
</div>


<!-- end: page -->
<script src="~/developer/js/systemUserManagement/UserRole_Datatable.js" asp-append-version="true"></script>

<!-- Modal -->
<div class="modal fade" id="edit_permissions" tabindex="-1" role="dialog" aria-labelledby="edit_permissionsTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@SharedHtmlLocalizer["UserRolePermissions"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <br />
                <ul class="permissions-list">
                </ul>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
                <button type="button" class="btn btn-primary" onclick="saveRolePermission()">@SharedHtmlLocalizer["Save"]</button>
            </div>
        </div>
    </div>
</div>