@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="addNewAddressModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="addNewAddressModalLabel">@SharedHtmlLocalizer["AddNewAddress"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-6 col-md-4 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["AddressName"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressName" name="" id="" aria-describedby="@SharedHtmlLocalizer["AddressName"]" placeholder="@SharedHtmlLocalizer["AddressName"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["AddressNameIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-6 col-md-4 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["Governorate"]<span class=" text-danger">*</span></label>
                        <select class="form-select form-select-lg rounded-4 border-secondary addressGovernorates"
                                name="governorateList" id="governorateList" aria-describedby="@SharedHtmlLocalizer["Governorate"]" onChange="GetCityDropDownData(this.options[this.selectedIndex].value)" required >
                        </select>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["GovernorateIsRequired"]</div>
                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-6 col-md-4 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["City"]<span class=" text-danger">*</span></label>
                        <select class="form-select form-select-lg rounded-4 border-secondary addressCities"
                                name="areaList" id="areaList" aria-describedby="@SharedHtmlLocalizer["City"]" required>
                            <option value="0">Please Select...</option>
                           
                        </select>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["CityIsRequired"]</div>
                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-pills delivery-addresses mb-3 row col-12 col-lg-10 mx-auto justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 active" id="Home-tab" data-bs-toggle="tab" data-bs-target="#Home" role="tab" aria-controls="Home" aria-selected="true"><img src="/assets/img/icons/address-icons/house-line.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["Home"]</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Apartment-tab" data-bs-toggle="tab" data-bs-target="#Apartment" role="tab" aria-controls="Apartment" aria-selected="true"><img src="/assets/img/icons/address-icons/building.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["Apartment"]</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Office-tab" data-bs-toggle="tab" data-bs-target="#Office" role="tab" aria-controls="Office" aria-selected="true"><img src="/assets/img/icons/address-icons/office.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["Office"]</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="School-tab" data-bs-toggle="tab" data-bs-target="#School" role="tab" aria-controls="School" aria-selected="true"><img src="/assets/img/icons/address-icons/school.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["School"]</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Mosque-tab" data-bs-toggle="tab" data-bs-target="#Mosque" role="tab" aria-controls="Mosque" aria-selected="true"><img src="/assets/img/icons/address-icons/mosque.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["Mosque"]</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Government-tab" data-bs-toggle="tab" data-bs-target="#Government" role="tab" aria-controls="Government" aria-selected="true"><img src="/assets/img/icons/address-icons/government.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">@SharedHtmlLocalizer["Government"]</span></a>
                    </li>
                </ul>
                <div class="row row-cols-2 row-cols-md-3 addressParentRow">
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["Block"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressBlock" name="" id="" aria-describedby="@SharedHtmlLocalizer["Block"]" placeholder="@SharedHtmlLocalizer["Block"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["BlockIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["Street"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressStreet" name="" id="" aria-describedby="@SharedHtmlLocalizer["Street"]" placeholder="@SharedHtmlLocalizer["StreetNameOrNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["StreetNameOrNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["Avenue"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressAvenue" name="" id="" aria-describedby="@SharedHtmlLocalizer["Avenue"]" placeholder="@SharedHtmlLocalizer["AvenueNameOrNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["AvenueNameOrNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["BuildingNo"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressBuilding" name="" id="" aria-describedby="@SharedHtmlLocalizer["BuildingNo"]" placeholder="@SharedHtmlLocalizer["BuildingNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["BuildingNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["HouseNo"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressHouse" name="" id="" aria-describedby="@SharedHtmlLocalizer["HouseNo"]" placeholder="@SharedHtmlLocalizer["HouseNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["HouseNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["FloorNo"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressFloor" name="" id="" aria-describedby="@SharedHtmlLocalizer["FloorNo"]" placeholder="@SharedHtmlLocalizer["FloorNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["FloorNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["FlatNo"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressFlat" name="" id="" aria-describedby="@SharedHtmlLocalizer["FlatNo"]" placeholder="@SharedHtmlLocalizer["FlatNumber"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["FlatNumberIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["SchoolName"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressSchool" name="" id="" aria-describedby="@SharedHtmlLocalizer["SchoolName"]" placeholder="@SharedHtmlLocalizer["SchoolName"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["SchoolNameIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["MosqueName"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressMosque" name="" id="" aria-describedby="@SharedHtmlLocalizer["MosqueName"]" placeholder="@SharedHtmlLocalizer["MosqueName"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["MosqueNameIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col mb-3 addressParentCol">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="" class="form-label">@SharedHtmlLocalizer["GovermentEntity"]<span class=" text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary addressGovernment" name="" id="" aria-describedby="@SharedHtmlLocalizer["GovermentEntity"]" placeholder="@SharedHtmlLocalizer["GovermentEntity"]" value="" required>

                        <div class="invalid-feedback">@SharedHtmlLocalizer["GovermentEntityIsRequired"]</div>
                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <!-- ========== Start Simple Text Area ========== -->
                        <label for="" class="form-label ">@SharedHtmlLocalizer["Notes"]</label>
                        <textarea class="form-control form-control-lg rounded-4 border-secondary  addressNotes" name="" id="" aria-describedby="@SharedHtmlLocalizer["Notes"]" placeholder="" rows="3"></textarea>


                        <!-- ========== End Simple Text Area ========== -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
                <button type="button" class="btn btn-success validation-btn">@SharedHtmlLocalizer["Save"]</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  

    $(document).ready(function () {
         setupAddressFields();
        switchAddressFields();
        updateAddress();
    });


    setupAddressFields = () => {
        var DefaultTypeSelected = $(".delivery-addresses .active").attr("id");

        switch (DefaultTypeSelected) {
            case "Home-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").show();
                $(".addressBlock").attr("Required", 1);

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").show();
                $(".addressStreet").attr("Required", 1);

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show House No.
                $(".addressHouse").closest(".addressParentCol").show();
                // Require House No.
                $(".addressHouse").closest(".addressParentCol").find("label span").show();
                $(".addressHouse").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                break;

            case "Apartment-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").show();
                $(".addressBlock").attr("Required", 1);

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").show();
                $(".addressStreet").attr("Required", 1);

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show Building No.
                $(".addressBuilding").closest(".addressParentCol").show();
                // Require Building No.
                $(".addressBuilding").closest(".addressParentCol").find("label span").show();
                $(".addressBuilding").attr("Required", 1);

                // Show Floor No.
                $(".addressFloor").closest(".addressParentCol").show();
                // Require Floor No.
                $(".addressFloor").closest(".addressParentCol").find("label span").hide();
                $(".addressFloor").removeAttr("required");

                // Show Flat No.
                $(".addressFlat").closest(".addressParentCol").show();
                // Require Flat No.
                $(".addressFlat").closest(".addressParentCol").find("label span").show();
                $(".addressFlat").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-4").addClass("row-cols-md-3");
                break;

            case "Office-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").show();
                $(".addressBlock").attr("Required", 1);

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").show();
                $(".addressStreet").attr("Required", 1);

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show Building No.
                $(".addressBuilding").closest(".addressParentCol").show();
                // Require Building No.
                $(".addressBuilding").closest(".addressParentCol").find("label span").show();
                $(".addressBuilding").attr("Required", 1);

                // Show Floor No.
                $(".addressFloor").closest(".addressParentCol").show();
                // Require Floor No.
                $(".addressFloor").closest(".addressParentCol").find("label span").hide();
                $(".addressFloor").removeAttr("required");

                // Show Flat No.
                $(".addressFlat").closest(".addressParentCol").show();
                // Require Flat No.
                $(".addressFlat").closest(".addressParentCol").find("label span").show();
                $(".addressFlat").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-4").addClass("row-cols-md-3");
                break;

            case "School-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                $(".addressBlock").removeAttr("required");

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                $(".addressStreet").removeAttr("required");

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show School Name
                $(".addressSchool").closest(".addressParentCol").show();
                // Require School Name
                $(".addressSchool").closest(".addressParentCol").find("label span").show();
                $(".addressSchool").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                break;

            case "Mosque-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                $(".addressBlock").removeAttr("required");

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                $(".addressStreet").removeAttr("required");

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show Mosque Name
                $(".addressMosque").closest(".addressParentCol").show();
                // Require Mosque Name
                $(".addressMosque").closest(".addressParentCol").find("label span").show();
                $(".addressMosque").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                break;

            case "Government-tab":
                $(".addressParentRow .addressParentCol").hide();

                // Show Block
                $(".addressBlock").closest(".addressParentCol").show();
                // Require Block
                $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                $(".addressBlock").removeAttr("required");

                // Show Street
                $(".addressStreet").closest(".addressParentCol").show();
                // Require Street
                $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                $(".addressStreet").removeAttr("required");

                // Show Avenue
                $(".addressAvenue").closest(".addressParentCol").show();
                // Require Avenue
                $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                $(".addressAvenue").removeAttr("required");

                // Show Government Name
                $(".addressGovernment").closest(".addressParentCol").show();
                // Require Government Name
                $(".addressGovernment").closest(".addressParentCol").find("label span").show();
                $(".addressGovernment").attr("Required", 1);

                $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                break;

            default:
                break;
        }
    }

    switchAddressFields = () => {
        $(".delivery-addresses .nav-link").click(function () {
            var TypeSelected = $(this).attr("id");

            switch (TypeSelected) {
                case "Home-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").show();
                    $(".addressBlock").attr("Required", 1);

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").show();
                    $(".addressStreet").attr("Required", 1);

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show House No.
                    $(".addressHouse").closest(".addressParentCol").show();
                    // Require House No.
                    $(".addressHouse").closest(".addressParentCol").find("label span").show();
                    $(".addressHouse").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                    break;

                case "Apartment-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").show();
                    $(".addressBlock").attr("Required", 1);

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").show();
                    $(".addressStreet").attr("Required", 1);

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show Building No.
                    $(".addressBuilding").closest(".addressParentCol").show();
                    // Require Building No.
                    $(".addressBuilding").closest(".addressParentCol").find("label span").show();
                    $(".addressBuilding").attr("Required", 1);

                    // Show Floor No.
                    $(".addressFloor").closest(".addressParentCol").show();
                    // Require Floor No.
                    $(".addressFloor").closest(".addressParentCol").find("label span").hide();
                    $(".addressFloor").removeAttr("required");

                    // Show Flat No.
                    $(".addressFlat").closest(".addressParentCol").show();
                    // Require Flat No.
                    $(".addressFlat").closest(".addressParentCol").find("label span").show();
                    $(".addressFlat").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-4").addClass("row-cols-md-3");
                    break;

                case "Office-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").show();
                    $(".addressBlock").attr("Required", 1);

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").show();
                    $(".addressStreet").attr("Required", 1);

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show Building No.
                    $(".addressBuilding").closest(".addressParentCol").show();
                    // Require Building No.
                    $(".addressBuilding").closest(".addressParentCol").find("label span").show();
                    $(".addressBuilding").attr("Required", 1);

                    // Show Floor No.
                    $(".addressFloor").closest(".addressParentCol").show();
                    // Require Floor No.
                    $(".addressFloor").closest(".addressParentCol").find("label span").hide();
                    $(".addressFloor").removeAttr("required");

                    // Show Flat No.
                    $(".addressFlat").closest(".addressParentCol").show();
                    // Require Flat No.
                    $(".addressFlat").closest(".addressParentCol").find("label span").show();
                    $(".addressFlat").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-4").addClass("row-cols-md-3");
                    break;

                case "School-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                    $(".addressBlock").removeAttr("required");

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                    $(".addressStreet").removeAttr("required");

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show School Name
                    $(".addressSchool").closest(".addressParentCol").show();
                    // Require School Name
                    $(".addressSchool").closest(".addressParentCol").find("label span").show();
                    $(".addressSchool").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                    break;

                case "Mosque-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                    $(".addressBlock").removeAttr("required");

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                    $(".addressStreet").removeAttr("required");

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show Mosque Name
                    $(".addressMosque").closest(".addressParentCol").show();
                    // Require Mosque Name
                    $(".addressMosque").closest(".addressParentCol").find("label span").show();
                    $(".addressMosque").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                    break;

                case "Government-tab":
                    $(".addressParentRow .addressParentCol").hide();

                    // Show Block
                    $(".addressBlock").closest(".addressParentCol").show();
                    // Require Block
                    $(".addressBlock").closest(".addressParentCol").find("label span").hide();
                    $(".addressBlock").removeAttr("required");

                    // Show Street
                    $(".addressStreet").closest(".addressParentCol").show();
                    // Require Street
                    $(".addressStreet").closest(".addressParentCol").find("label span").hide();
                    $(".addressStreet").removeAttr("required");

                    // Show Avenue
                    $(".addressAvenue").closest(".addressParentCol").show();
                    // Require Avenue
                    $(".addressAvenue").closest(".addressParentCol").find("label span").hide();
                    $(".addressAvenue").removeAttr("required");

                    // Show Government Name
                    $(".addressGovernment").closest(".addressParentCol").show();
                    // Require Government Name
                    $(".addressGovernment").closest(".addressParentCol").find("label span").show();
                    $(".addressGovernment").attr("Required", 1);

                    $(".addressParentRow").removeClass("row-cols-md-3").addClass("row-cols-md-4");
                    break;

                default:
                    break;
            }
        });
    }

    updateAddress = () => {
        $(".validation-btn").click(function () {

            $(".modal-body [required]").each(function () {
                if ($(this).prop("tagName") == "SELECT") {
                    if ($(this).val() == "0") {
                        $(this).addClass("is-invalid");
                    } else {
                        $(this).removeClass("is-invalid");
                        $(this).addClass("is-valid");
                    }
                } else {
                    if ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null) {
                        $(this).addClass("is-invalid");
                    } else {
                        $(this).removeClass("is-invalid");
                        $(this).addClass("is-valid");
                    }
                }

            })

             
            const address = {
                typeId: 1,
                customerId: getIntegerValue('customerId'),
                mobileNumber: getTextValue('customerMobile'),
                emailAddress: getTextValue('customerEmail'),
                name: "name",
                governorateId: 1,
                areaId: 1,
                block: 1,
                street: 1,
                avenue: 1,
                houseNumber: 1,
                floorNumber: 1,
                flatNumber: 1,
                schoolName: "x",
                mosqueName: "x",  
                notes: "notes"
            }; 
            var addressType = $(".delivery-addresses .nav-link.active").attr("aria-controls"); // Can be changed to whatever ID method
            if (addressType == "Home-tab") {
                address.typeId = 1;
            } else if (addressType == "Apartment-tab") {
                address.typeId = 2;
            } else if (addressType == "Office-tab") {
                address.typeId =  3;
            } else if (addressType == "School-tab") {
                address.typeId =  4;
            } else if (addressType == "Mosque-tab") {
                address.typeId =  5;
            } else if (addressType == "Government-tab") {
                address.typeId =  6;
            }
             
            if ($(".addressName").val() != "" && $(".addressName").val() != null && $(".addressName").val() != undefined)
                address.name   = $(".addressName").val();

            if ($(".addressGovernorates").val() != "Please Select..." && $(".addressGovernorates").val() != null && $(".addressGovernorates").val() != undefined)
                address.governorateId  =  $(".addressGovernorates").val();

            if ($(".addressCities").val() != "Please Select..." && $(".addressCities").val() != null && $(".addressCities").val() != undefined)
                address.areaId  = $(".addressCities").val();

            if ($(".addressStreet").closest(".addressParentCol").is(":visible") && $(".addressStreet").val() != "" && $(".addressStreet").val() != null && $(".addressStreet").val() != undefined)
                address.block  = $(".addressBlock").val();

            if ($(".addressStreet").closest(".addressParentCol").is(":visible") && $(".addressStreet").val() != "" && $(".addressStreet").val() != null && $(".addressStreet").val() != undefined)
                address.street  = $(".addressStreet").val();
              
            if ($(".addressAvenue").closest(".addressParentCol").is(":visible") && $(".addressAvenue").val() != "" && $(".addressAvenue").val() != null && $(".addressAvenue").val() != undefined)
                address.avenue  = $(".addressAvenue").val();

            if ($(".addressHouse").closest(".addressParentCol").is(":visible") && $(".addressHouse").val() != "" && $(".addressHouse").val() != null && $(".addressHouse").val() != undefined)
                address.houseNumber  = $(".addressHouse").val();

            if ($(".addressBuilding").closest(".addressParentCol").is(":visible") && $(".addressBuilding").val() != "" && $(".addressBuilding").val() != null && $(".addressBuilding").val() != undefined)
                address.buildingNumber  = $(".addressBuilding").val();

            if ($(".addressFloor").closest(".addressParentCol").is(":visible") && $(".addressFloor").val() != "" && $(".addressFloor").val() != null && $(".addressFloor").val() != undefined)
                address.floorNumber  = $(".addressFloor").val();

            if ($(".addressFlat").closest(".addressParentCol").is(":visible") && $(".addressFlat").val() != "" && $(".addressFlat").val() != null && $(".addressFlat").val() != undefined)
                address.flatNumber  = $(".addressFlat").val();

            if ($(".addressMosque").closest(".addressParentCol").is(":visible") && $(".addressMosque").val() != "" && $(".addressMosque").val() != null && $(".addressMosque").val() != undefined)
                address.mosqueName  = $(".addressMosque").val();
             

            if ($(".addressNotes").val() != "" && $(".addressNotes").val() != null && $(".addressNotes").val() != undefined)
                address.notes  = $(".addressNotes").val();
             
            console.log(address);

            


            ajaxPostCart("customer/addaddress", address,
                function (data) {
                    console.log(data);
                    if (data.success) {
                        //load existing customer addresses, check in "create_order"
                        //  loadCustomerAddress();
                        $("display-addresses").hide();
                        //setTimeout(getCartItems(), 500);
                    } else {
                        console.log(data);
                    }
                    //hideLoader();
                });
        });



    }

    //updateCustomerAddress = (cartId, productId, input) => {
    //    var qty = $(input).val();
    //    var fromBody = {
    //        'customerId': getTextValue('customerId'),
    //        'typeId': AddressObject["typeId"],
    //        'name': AddressObject["Name"],
    //        'mobileNumber': cartId,
    //        'emailAddress': productId,
    //        'governorateId': AddressObject["Governorate"],
    //        'areaId': AddressObject["Governorate"],
    //        'block': AddressObject["Governorate"],
    //        'street': AddressObject["Governorate"],
    //        'avenue': AddressObject["Governorate"],
    //        'houseNumber': AddressObject["Governorate"],
    //        'buildingNumber': AddressObject["Governorate"],
    //        'floorNumber': AddressObject["Governorate"],
    //        'flatNumber': AddressObject["Governorate"],
    //        'schoolName': AddressObject["Governorate"],
    //        'notes': AddressObject["Governorate"], 
    //    };
    //    ajaxPostCart("customer/addaddress", fromBody,
    //        function (data) {
    //            if (data.success) {
    //                setTimeout(getCartItems(), 500);
    //            } else {
    //                console.log(data);
    //            }
    //            //hideLoader();
    //        });
    //} 
</script>