<div class="modal fade" id="dispatch-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dispatch-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="dispatch-delivery-modalLabel">@SharedHtmlLocalizer["DispatchDelivery"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="1" />
            </div>
            <div class="modal-body">
                <label for="AssignDriver" class="form-label">@SharedHtmlLocalizer["AssignDriver"]</label>
                <select class="form-select form-select-lg rounded-4 border-secondary"
                        name="popupDriverList" id="popupDriverList" aria-describedby="@SharedHtmlLocalizer["AssignDriver"]">
                    <option value="" selected>@SharedHtmlLocalizer["SelectDriver"]</option>
                </select>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
                <button type="button" class="btn btn-success save-btn" onclick="assignDriver()">@SharedHtmlLocalizer["Assign"]</button>
            </div>
        </div>
    </div>
</div><!-- Vertically centered scrollable modal -->

<script>
    $(document).ready(function () {

        assignDriver = () => {
            let orderId = $("#dispatch-delivery-modal .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#dispatch-delivery-modal .modal-header #dialogOrderTypeId").val();
             
            let driverId = getSelectedItemValue('popupDriverList');
            if (driverId == "") {
                ToastAlert('error', 'Driver', 'Please select driver for dispatch');
             } else {
                let submitData = new FormData();
                submitData.append("orderId", orderId);
                submitData.append("orderTypeId", dialogOrderTypeId);
                submitData.append("driverId", driverId);
                ajaxPost("order/AssignDriver", submitData, cbDriverSuccess);
            }
        }

    });

    cbDriverSuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Dispatch', 'Driver assigned successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Dispatch', data.message);
        }
    }
</script>