@{
}
<div class="modal fade" id="remove-delivery-driver-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="remove-delivery-driver-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="confirm-delivery-modalLabel">@SharedHtmlLocalizer["ConfirmOrderDelivery"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="" />
                <input type="hidden" id="dialogOrderNumber" value="" />
                <input type="hidden" id="dialogCustomerId" value="" />
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>@SharedHtmlLocalizer["AreYouSureYouWantToCancelDelivered?"]</p>
                </div>

                <div class="col-12">
                    <label for="" class="form-label ">@SharedHtmlLocalizer["Reason"]<span class=" text-danger">*</span></label>
                    <textarea class="form-control form-control-lg rounded-4 border-secondary"
                              name="dialogReason" id="dialogReason" aria-describedby="Reason" placeholder="" rows="3" required></textarea>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
                <button type="button" class="btn btn-success save-btn" onclick="confirmOrderDelivery()">@SharedHtmlLocalizer["Confirm"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        confirmOrderDelivery = () => {
            let orderId = $("#remove-delivery-driver-modal .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#remove-delivery-driver-modal .modal-header #dialogOrderTypeId").val();

            let submitData = new FormData();
            submitData.append("orderId", getTextValue("dialogOrderId"));
            submitData.append("orderTypeId", getTextValue("dialogOrderTypeId"));
            submitData.append("notes", getTextValue("dialogReason"));
            
            submitData.append("orderStatusId", @((Int16)OrderStatus.Confirmed));
            ajaxPost("driver/UpdateOrderStatus", submitData, cbconfirmOrderDeliverySuccess);

        }

    });

    cbconfirmOrderDeliverySuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Confirm Delivery', 'Deliver status changed successfully');
            $("#remove-delivery-driver-modal").modal('hide');
            reloadPage();
        } else {
            ToastAlert('error', 'Confirm Delivery', data.message);
        }
    }
</script>