@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Reschedule Delivery Modal -->
<div class="modal fade" id="reschedule-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reschedule-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="reschedule-delivery-modalLabel">@SharedHtmlLocalizer["RescheduleOrder"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeID" value="" />
                <input type="hidden" id="dialogOrderNumber" value="" />
                <input type="hidden" id="dialogCustomerId" value="" />
                <input type="hidden" id="apiUrl" value="driver/rescheduleOrder" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">@SharedHtmlLocalizer["AreYouSureToRescheduleOrder"]</p>
                    </div>
                    <div class="col-12 mb-3">
                        <!-- ========== Start Datepicker Field ========== -->
                        <label for="" class="form-label">@SharedHtmlLocalizer["RescheuleDeliveryTo"]<span class=" text-danger">*</span></label>
                        <div class="input-group rounded-4">
                            <span class="input-group-text rounded-4 border border-secondary">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <input type="text" data-plugin-datepicker autocomplete="off" 
                                   class="form-control form-control-lg rounded-4 border-secondary " 
                                   name="rescheuleDate" id="rescheuleDate" aria-describedby="" placeholder="" value="" required>

                        </div>
                    </div>
                    <div class="col-12" style="display:none"> 
                        <label for="" class="form-label ">@SharedHtmlLocalizer["Reason"]<span class=" text-danger">*</span></label>
                        <textarea class="form-control form-control-lg rounded-4 border-secondary" 
                                  name="dialogReason" id="dialogReason" aria-describedby="Reason" placeholder="" rows="3" required></textarea>
                         
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button> 
                <button type="button" class="btn btn-success save-btn" onclick="rescheduleDeliveryWithReason()">@SharedHtmlLocalizer["Confirm"]</button> 
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        rescheduleDeliveryWithReason = () => {
          //  let apiUrl = $("#reschedule-delivery-modal .modal-header #apiUrl").val();

            //let orderId = $("#reschedule-delivery-modal .modal-header #dialogOrderId").val(); 
            let rescheuleDate = getDatePickerValue("rescheuleDate"); //$("#reschedule-delivery-modal .modal-body #rescheuleDate").val();
            let notes = $("#reschedule-delivery-modal .modal-body #dialogReason").val();
       
            let submitData = new FormData();
            submitData.append("orderId", getTextValue("dialogOrderId"));
            submitData.append("orderTypeId", getTextValue("dialogOrderTypeID"));
            
            submitData.append("rescheduleDeliveryDate", getDatePickerValue("rescheuleDate")); //optional
            submitData.append("notes", notes); //optional
            ajaxPost("driver/rescheduleOrder", submitData, cbRescheduleDeliverySuccess);
         }
    });

    cbRescheduleDeliverySuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Order', 'Order rescheduled successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Order', data.message);
        }
    }
</script>